{% extends "base_show.html" %}
{% load video_tags %}
{% load pagination_tags %}

{% block pagetitle %}Pop Galaxy{% endblock %}

{% block adblock %}
	{% include "inc/adbox_home_top.html" %}
{% endblock %}

{% block sideadblock %}
	{% include "inc/adbox_home_sidebar.html" %}
{% endblock %}

{% block stylesheet %}{{ selected_show.stylesheet }}{% endblock %}

{% block schedule %}{{ selected_show.schedule }}{% endblock %}

{% block content %}
<!--BEGIN MAIN COLUMN CONTENT-->
<div id="maincol">
{# <div id="videoPlayer">{{ featured_video.url_home|safe }}</div> #}
<div id="featurethumbnails">
	{% for video in featured_videos %}
	<div {% ifnotequal forloop.counter 1 %}style="display:none;"{% endifnotequal %}>
		<a href="{{ video.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ video.featuredthumb }}"/></a>
	</div>
	{% endfor %}
</div>



<div id="videoCarouselTop"></div>
<div id="videoCarousel">

	<ul id="featuredNav">
		{% for item in featured_videos %}
		<li><a href="#"><img src="{{ item.thumbnail.thumb_url }}"/></a></li>
		{% endfor %}
	</ul>

</div>

<div>

    {% include "inc/adbox_ros_left_sidebar.html" %}

	<div id="newsItems" >
		{% autopaginate latest_items 5 %}
		{% for item in latest_items %}
			<div class="newsItem" >
				<div class="newsHeader colorHeaderText">
				<a href="{{ item.get_absolute_url }}" style="text-decoration: none; color: #f3f7a6;">{{ item.title|safe|truncatewords_html:10|wordwrap:10 }}</a>
				</div>
				<div class="category">
				{% if category %}
				{{ category }}
				{% else %}
				{{ item|get_tag }}
				{% endif %}
				</div>
				<span style="display: inline-block"></span>
			</div>
			<div style="margin-bottom: 10px;">
				<span style="display: inline-block; vertical-align: top;">
				<a href="{{ item.get_absolute_url }}">
				<img src="{{ item.thumbnail.thumb_url }}" height="72px" width="115px" border="0" />
				</a>
				</span>
				<span class="newsItemText" >
				{% if item.details %}
				{{ item.details|safe|truncatewords_html:25 }}
				{% else %}
				{{ item.leadin_html|striptags|truncatewords_html:25 }}
				{% endif %}
				</span>
			</div>
		{% endfor %}
	{% paginate %}
	</div>
</div>

{% endblock %}




