body {
	background: url(/media/images/popgalaxy_bg_01.jpg) top center no-repeat #32373a;

}

.colorHeader {
	background: #99d420;
}

.boxIcon {
	background: url(/media/images/sprites/pg_sprites_01-tv.png) 5px 5px no-repeat ;
	background-position: -356px -29px;
}

.boxTopCornerRight {
	background: url(/media/images/sprites/pg_sprites_01-tv.png) no-repeat top left;
	background-position: -427px -30px;
}

.boxTopCornerLeft {
	background: url(/media/images/sprites/pg_sprites_01-tv.png) no-repeat top left;
	background-position: -410px -30px;
}


#headerlogo a {
	width: 286px;
	height: 138px;
	background: url(/media/images/sprites/pg_sprites_01-tv.png) no-repeat top left;
	background-position: 0px 0px;
	margin-top: 50px;
	margin-left: -13px;
    text-align: left;
    padding-left: 0px;
	position: absolute;
	/* z-index: 200; */
}
ul#nav li a#shows {
	width: 112px;
	height: 30px;
	background: url(/media/images/sprites/pg_sprites_01-tv.png) no-repeat top left;
	background-position: -355px 0px;
}

#feedHeader, .boxHeader {
	/*
	background: #94D0A5 url(/media/images/iconPGgreen.png) 5px 5px no-repeat;
	background: #529f73 url(/media/images/iconPGgreen.png) 5px 5px no-repeat;
	*/
	/*width: 5px;*/
	height: 15px;
	/*background: #94D0A5 url(/media/images/sprites/pg_sprites_01-tv.png) 5px 5px no-repeat ;*/
	background-position: -356px -29px;
	color: #fff;
	text-transform: uppercase;
	overflow: hidden;
	padding: 10px 10px 10px 55px;
	font-weight: bold;
	font-size: 18px;
}
ul#follownav li {
	background: url(/media/images/sprites/pg_sprites_01-tv.png) no-repeat;
	background-position: -285px 0;
}

/*CATEGORY COLORS*/

.colorBackground {
	background-color: #316082;
}

.colorBackgroundHeader {
	background: #99d420;
	color: #fff;
}

.colorBackgroundSidebar {
	background: #45b8bf;
}

a.colorLinkHeader {
	color: #fff;
}

a.colorLinkSidebar {
	color: 
}

a.colorLinkFooter {
	color: #fff;
}

a.colorButton {
	background: #1B2023;
	color: #fff;
}

.colorTextSidebar {
	
}