html, body {
	width: 100%;
	height: 100%;
}

body {
    background: #000 url(/media/images/pg_bg_play.jpg) top center fixed;
}

#headerlogo a {
	background: url(/media/images/sprites/pg_sprites_shows_01-play.png) no-repeat top left;
	background-position: 0px 0px;
	/* z-index: 200; */
}

#content,
#headernav,
#headerheadlines{
	background: #033B59;
}

.box {
	background: #E8E6CA;
}

.colorHeader {
	background: #809EAD;
	color: #fff;
}


.boxIcon {
	background: url(/media/images/sprites/pg_sprites_shows_01-play.png) no-repeat top left;
	background-position: -356px -29px;
}
.boxTopCornerRight {
	background: url(/media/images/sprites/pg_sprites_shows_01-play.png) no-repeat top left;
	background-position: -427px -30px;
}

.boxTopCornerLeft {
	background: url(/media/images/sprites/pg_sprites_shows_01-play.png) no-repeat top left;
	background-position: -410px -30px;
}


ul#nav li a#shows {
	width: 112px;
	height: 30px;
	background: url(/media/images/sprites/pg_sprites_shows_01-play.png) no-repeat top left;
	background-position: -355px 0px;
}

ul#nav li a:hover {
	color: #ff9900;
}

#showbox {
    position: relative;
    width: 955px;
    text-align: left;
}

.showTopRight {
	width: 100px;
	background: url(/media/images/cornerright.png) no-repeat right;
	height: 15px;
	margin-right: -15px;
    float:right;
}
.showTopLeft {
	width: 100px;
	background: url(/media/images/cornerleft.png) no-repeat right;
	height: 15px;
	margin-left: -15px;
    float:right;
}
#showinfo {
	width: 1005px;
	margin-left: -15px;
	mergin-right: -15px;
    background-color: #5cc7ad;
    color: #fff;
    text-transform: uppercase;
	overflow: hidden;
	padding: 10px 10px 10px 0px;
	font-weight: bold;
	font-size: 14px;
    text-align: right;
}

#showlogo {
    width: 1015px;
    margin: 0 -15px 15px;
    height: 80px;
    background: #003366 url("/media/images/sprites/pg_sprites_shows_01-play.png") no-repeat;
    background-position: 0px -140px;
}