/* @override http://popgalaxy.com/media/style/style.css */

/*===RESET===*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/*
PAGE STRUCTURE
==============
*/

html, body {width: 100%;height: 100%;}
body {background: url(/media/images/popgalaxy_bg_01.jpg) top center no-repeat #32373a;font-family: Arvo, sans-serif;}

#container {width: 985px;margin: 0 auto;z-index: 100;}
#header {width: 985px;height: 188px;}
#content {width: 985px;margin: 0 auto;padding-bottom: 30px;}
#maincol {width: 655px;float: left;margin-top: 15px;}
#pagecontent {margin-left: -15px;width: 670px;background: #fff;padding: 0 0 15px;}
/*#pagecontent {margin-left: -15px;width: 670px;background: #f9fad9;padding: 0 0 15px;}*/
#sidecol {width: 300px;float: left;margin-left: 15px;margin-top: 15px;}
#connect {width: 985px;	height: 60px;margin: 0 auto;background: url(/media/images/connect.png);-o-background-size: 100% 100%;-webkit;background-size: 100% 100%;margin-left: 0px;}
#footer {width: 985px;margin: 0 auto 30px auto;background-image: url(/media/images/footerbg.png) no-repeat bottom right;margin-left: 0px;}

/*
HEADER & PAGE NAV
==============
*/

#headerheadlines {
	width: 716px;
	height: 33px;
	font-family: 'Visitor';
	font-size: 30px;
	font-size: 25px;
	margin-top: 155px;
	margin-left: 261px;
	position: absolute;
	z-index: 100;
	line-height: 33px;
	padding-left: 8px;
	overflow: hidden;
	color: #F4F1B5;
	text-shadow: 0 0 5px #94D0A5;
}

.headerheadlinesinset {
	position: absolute;
	padding: 0 10px;
	width: 696px;
}

#navBar {
	width: 985px;
	height: 40px;
	display: block;
	color: white;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#navBar ul {
	width: 985px;
	height: 40px;
	list-style: none;
	margin: 0;
	padding: 0;
}
#navBar ul li {
	display:inline;
	margin:0;
	padding:0;
}
#navBar ul li a, #navBar ul li h3 {
	display: inline-block;
	line-height: 40px;
	font-family: Arvo, sans-serif;
	font-weight: bold;
	text-decoration: none;
	padding: 0 7.5px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	font-size: 18px;
}
#navBar ul li a:hover {
	background: rgba(0,0,0,.5);
	text-shadow: 0 0 6px rgba(0,255,0,1);
}


#navBar ul li a#shows {
	width: 140px;
	line-height: 40px;
	background: url(../../media/images/pg_button_shows.png) top no-repeat;
	background-position: 0 0;
	text-indent: 9999px;
	padding: 0;
	margin: 0;
}
#navBar ul li a#shows:hover {
	background-position: 0 -40px;
}
#navBar ul li a#shows:active {
	background-position: 0 -80px;	
}
#navBar ul li a#search {
	float: right;
	width: 43px;
	padding:0;
	text-indent: 9999px;
	background: url(../../media/images/pg_button_search.png) top no-repeat;
	background-position: 0 0;
	z-index:1000;
}
#navBar ul li a#search:hover {
	background-color: rgba(0,0,0,.5);
	background-position: 0 -40px;
}
#navBar ul li a#search:active {
	background-color: rgba(0,0,0,.0);
	background-position: 0 -80px;
}

#showsBox {
	width: 955px;
	padding: 15px;
	height: 180px;
	display: box;
	background: url(../../media/images/pg_bg_menu_shows.png) bottom repeat-x #F4F3B7;
	overflow: hidden;
}

#searchBox {
	width: 955px;
	padding: 15px;
	height: 30px;
	display: box;
	background: url(../../media/images/pg_bg_search.png) top repeat-x #fff;
	overflow: hidden;
}

#searchBox input {
	border: none;
	background: none;
	font-size: 24px;
	outline: none;
	width: 965px;
	color: #333;
	font-family: Visitor, sans-serif;
}

#showsBox, #searchBox {
    display: none;
	z-index: 500;
}




/*#shows_box {
	padding: 10px;
	background: #f3f7a6;
	height: 170px;
	display: none;
	margin-left: -120px;
	margin-top: 25px;
}*/

/*ul#nav {
	display: inline;
	list-style: none;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
}

ul#nav li {
	display: inline;
}

ul#nav li a {
	margin-right: 20px;
	float: left;
	text-align: center;
	display: block;
	color: #fff;
	text-decoration: none;
	vertical-align: middle;
}

ul#nav li a:hover {
	background: #ddd;
}

ul#nav li a#shows {
	width: 112px;
	height: 30px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: -355px 0px;
	position: absolute;
	top: 10px;
	left: 10px;
}

#headernav {
	width: 835px;
	padding: 15px 15px 15px 135px;
	margin: 188px 0 0;
	background: #D62A27;
	position: absolute;
}*/

/*#search {
	display: inline;
	color: #1B2023;
}

#searchBar {
	display: inline;
	background: #000;
	width: 150px;
	padding: 5px;
	margin-top: -6px;
	margin-right: -4px;
}

#searchBar form {
	display: inline;
}

#searchBar input {
	width: 120px;
	border: 0;
	height: 18px;
	font-size: 14px;
	font-family: Visitor, sans-serif;
	color: #fff;
	background: #000;
	display: inline;
}

#searchButton {
	width: 18px;
	height: 18px;
}

#searchbox {
	width: 709px;
	height: 34px;
	line-height: .3em;
	border: 2px solid #CCCCCC;
	font-family: Visitor, sans-serif;
	color: #888688;
	font-size: 30px;
	padding-left: 40px;
	background: url(/media/images/iconsearch.png) 8px 8px no-repeat #fff;
}*/

/*
AD SPOTS
==============
*/

#adLeader {
	width: 728px;
	height: 90px;
	background: #666 url(/media/images/adbg.png);
	margin-top: 17px;
	position: absolute;
	margin-right: 0;
	margin-left: 312px;
	z-index: 300;
}

#adLeft {
	background: #666 url(/media/images/adbg.png);
}

#adBox {
	width: 300px;
	height: 250px;
	background: #666 url(/media/images/adbg.png);
}


.home_description p {
	display: inline-block;
}

#videoPlayer {
	width: 640px;
	margin: 15px;
/*	height: 392px;*/
	background: url(/media/images/playerbg.png) no-repeat center;
}

/*#videoNowPlaying {
	width: 670px;
	overflow: hidden;
	background: #559B7A;
	color: #fff;
	font-weight: 18px;
}

#videoNowPlayingLabel {
	padding: 10px;
	float: left;
	width: 90px;
	font-size: 18px;
	line-height: .9em;
	text-align: right;
	font-weight: bold;
	text-transform: uppercase;
}

#videoNowPlayingTitle {
	width: 420px;
	padding: 10px;
	font-size: 18px;
	line-height: .9em;
	float: left;
	overflow: hidden;
}*/

.titleMain {
	color: #F4F3B7;
	font-weight: bold;
	font-size: 18px;
}

.titleSub {
	font-size: 14px;
}

#videoNowPlayingClear {
	clear: both;
}

/*
FEATURE BOX
==============
*/

.featureBox {
	height: 360px;
	width: 640px;
	overflow: hidden;
	position: relative;
	z-index: 100;
}

.featureBox a {
	text-decoration: none;
}

.featureBoxImage {
	z-index: 200;
	position: relative;
}

.featureBoxText {
	position: absolute;
	bottom: 0;
	z-index: 300;
	background: rgba(0,0,0,.5);
	color: #fff;
	width: 620px;
	padding: 10px;
}

.featureBoxText h1 {
	font-size: 48px;
	line-height: .9em;
	text-transform: uppercase;
	font-weight: bold;
}

.featureBoxText h2 {
	font-size: 16px;
	font-weight: normal;
}




/*
SIDEBAR ELEMENTS
==============
*/

.boxTop {
	width: 330px;
	height: 15px;
	margin-right: -15px;
}

.boxTopCornerRight {
	margin-left: 315px;
	width: 15px;
	height: 15px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: -427px -30px;
}

.boxTopCornerLeft {
	margin-left: -15px;
	margin-top: -15px;
	width: 15px;
	height: 15px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: -410px -30px;
}

.box {
	margin-right: -15px;
	width: 330px;
}

.boxBody {
	padding: 10px;
}

.boxNav {
	text-align: center;
	padding: 0;
	margin: 0;
}

.boxNav ul {
	list-style: none;
	font-family: Visitor, sans-serif;
	font-size: 14px;
}

.boxNav ul li {
	display: inline;
	padding: 0;
	margin: 0;
}

.boxNav ul li a {
	display: inline-block;
	padding: 3px 6px;
	color: #4c4d4f;
	text-decoration: none;
	border: 0;
	margin: 0;
}

.boxNav ul li a:hover {
	color: #fff;
	background: rgba(0,0,0,.5);
}

.boxNav ul li a.selected {
	background: #559B7A;
	color: #F4F1B5;
	text-shadow: 0 0 5px #94D0A5;
}

/* BEGIN FOLLOW BOX */

ul#follownav {
	display: inline;
	list-style: none;
}

ul#follownav li {
	width: 55px;
	height: 55px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat;
	background-position: -285px 0;
	padding-top: 15px;
	padding-left: 15px;
	display: block;
	text-align: left;
	float: left;
	margin-left: 9px;
}

ul#follownav li a#facebook {
	width: 48px;
	height: 48px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat;
	background-position: -497px -90px;
	display: block;
	clear: right;
}

ul#follownav li a#twitter {
	width: 48px;
	height: 48px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat;
	background-position: -399px -90px;
	display: block;
}

ul#follownav li a#reddit {
	width: 48px;
	height: 48px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat;
	background-position: -546px -90px;
	display: block;
}

ul#follownav li a#youtube {
	width: 48px;
	height: 48px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat;
	background-position: -448px -90px;
	display: block;
}

ul#follownav li.first {
	margin-left: 0;
}

/* END FOLLOW BOX */

.tweet {
	font-family: Visitor, sans-serif;
	width: 310px;
	line-height: .8em;
	color: #4c4d4f;
	height: 400px
}

.tweet ul {
	list-style: none;
}

.tweet ul li {
	margin-top: 15px;
	padding: 10px;
}

.tweetLi {
	margin-bottom: 20px;
	display: block;
}

.tweetLi a {
	padding: 5px;
	background: none;
	font-weight: normal;
	text-decoration: none;
	display: block;
	height: 90px;
}

.tweetLi a:hover {
	color: #fff;
	background: rgba(0,0,0,.25)
}

.tweetProfileIcon {
	float: left;
}

.tweetProfileIcon img {
	width: 32px;
	height: 32px;
}

.tweetRight {
	margin-left: 40px;
	width: 260px;
}

.tweetText {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.3em;
	display: block;
	margin-bottom: 2px;
}

.tweetScreenName {
	font-size: 15px;
	font-family: Visitor, sans-serif;
	display: block;
	margin-bottom: 2px;
}

.tweetDate {
	font-size: 14px;
	display: block;
}

.seeMore {
	font-weight: normal;
}

.seeMore ul {
	list-style: none;
}

.seeMore ul li {
	display: block;
	vertical-align: middle;
}

.seeMore ul li img {
	width: 79px;
	height: 50px;
	float: right;
	margin-left: 10px;
}

.seeMore ul li a {
	width: 300px;
	height: 50px;
	line-height: 1em;
	display: block;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
}

.seeMoreTitle {
	font-size: 18px;
}

.seeMoreSubTitle {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 1.3em;
	display: none;
}

.seeMoreCount {
	font-size: 12px;
}

.seeMore a:hover {
	color: #fff;
	background: rgba(0,0,0,.25)
}

#pg_minilogo1 {
	width: 42px;
	height: 36px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: -356px -29px;
}

#pg_minilogo2 {
	width: 42px;
	height: 36px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: -356px -65px;
}

#feedHeader, .boxHeader {
	height: 15px;
	color: #fff;
	text-transform: uppercase;
	overflow: hidden;
	padding: 10px 10px 10px 55px;
	font-weight: bold;
	font-size: 18px;
}

#contentclear {
	clear: both;
}

.boxIcon {
	background: url(/media/images/sprites/pg_sprites_01-main.png) 5px 5px no-repeat;
	background-position: -356px -29px;
	margin: 6px 0 0 6px;
	width: 42px;
	height: 36px;
	position: absolute;
}

.footerIcon {
	background: url(/media/images/sprites/pg_sprites_01-main.png) 5px 5px no-repeat;
	background-position: -356px -65px;
	margin: 6px 0 0 6px;
	width: 42px;
	height: 36px;
	position: absolute;
}

#sectionTitle, .resultsTitle {
	height: 35px;
	line-height: 35px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
}

#videoList #sectionTitle {
	margin-bottom: 0;
	margin-left: 15px;
}

#videoList {
	color: #fff;
	line-height: .9em;
}

#videoList a {
	font-weight: bold;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

.videoThumb img {
	width: 193px;
}

.videoRow {
	overflow: auto;
}

.videoItem {
	overflow: hidden;
	width: 193px;
	margin-left: 15px;
	float: left;
	margin-top: 15px;
}

.videoDurationLabel {
	font-size: 12px;
	color: #94D0A5;
}

.videoDuration {
	
}

.readMore a {
	font-family: Rockwell, sans-serif;
	text-decoration: none;
	font-weight: bold;
	color: #D62A27;
}

.readMore a:hover {
	background: #D62A27;
	color: #f9fad9;
}

.readMore a:visited {
	color: #b11e1c;
}

#entriesList {
	background: #f9fad9;
	color: #1B2023;
	margin-bottom: 15px;
}

.entryItem {
	padding: 0 15px 15px;
}

.entryItem .entryTitle {
	margin-bottom: 15px;
	margin: 0;
	padding: 0;
	font-size: 24px;
}

.entryItem a {
	text-decoration: none;
	font-weight: bold;
	color: #D62A27;
}

.entryItem a:hover {
	background: #D62A27;
	color: #f9fad9;
}

.entryThumb {
	float: left;
	width: 200px;
	margin-right: 10px;
}

.entryTitle {
	padding: 15px 15px 0 15px;
	color: #D62A27;
	font-size: 48px;
	line-height: .8em;
}

.entryDetails {
	font-family: Helvetica Neue, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
}

.entryDetails p {
	padding-bottom: 10px;
}

.entryDate {
	clear: both;
	font-size: 12px;
	color: #999;
	border-bottom: 1px #1B2023 solid;
}

#entryShare {
	margin-top: 10px;
	display: block;
	padding: 5px 0;
	border-bottom: 1px solid #559B7A;
	border-top: 1px solid #559B7A;
}

.byLine {
	clear: both;
	margin: 5px 0;
	font-weight: normal;
	font-size: 14px;
	color: #000;
}

#entriesList {
	margin-left: 15px;
}

#resultsHeader {
	height: 24px;
	color: #fff;
	font-family: Arvo, sans-serif;
	font-weight:normal;
	font-size: 18px;
	line-height: 24px;
}

.resultSet {
	width: 180px;
	float: left;
	margin-right: 15px;
	color: #fff;
	line-height: .9em;
}

.emptyResultSet {
	color: #999;
	font-family: Visitor, sans-serif;
	font-size: 24px;
	line-height: 18px;
	margin-bottom: 15px;
}

.videoResultSet a {
	font-weight: bold;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

.videoResultSet img {
	width: 180px;
}

.videoResultSet {
	overflow: hidden;
	width: 180px;
	margin-left: 15px;
	float: left;
	margin-top: 15px;
}

.searchResults {
	margin-bottom: 15px;
}

#searchResultsList {
	margin-left: 15px;
}

#footerHeader {
	color: #fff;
	text-transform: uppercase;
	height: 15px;
	overflow: hidden;
	padding: 10px 10px 10px 55px;
	font-weight: bold;
	font-size: 18px;
}

.categoryBadge {
	font-family: Visitor, sans-serif;
	display: inline-block;
	font-size: 16px;
	height: 16px;
	padding: 2px 5px 0 0;
	width: 110px;
	text-align: right;
	background: rgba(246,144,43,.25);
	text-shadow: 0 0 4px #fff;
	color: #F4F3B7;
	margin-bottom: 10px;
}

#newsItems {
	width: 460px;
	margin-left: 15px;
	margin-bottom: 15px;
	padding: 0;
	display: inline-block;
}

.newsItem {
	padding: 0;
	margin-bottom: 15px;
}

.newsHeader {
	font-size: 24px;
	line-height: .95em;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 5px;
}

#maincol .newsHeader a {
	text-decoration: none; 
	color: #f3f7a6;
}

.newsItemThumb {
	height:72px; 
	width:115px;
	margin-bottom: 15px;
}

.newsItemLeft {
	width: 115px;
	margin-right:10px;
	float: left;
	vertical-align: top;
	font-size: 14px;
}

.newsItemText {
	width: 335px;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	color: #F4F3E9;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow: hidden;
}

.newsItemDate {
	font-family: Visitor, sans-serif;
	display: inline-block;
	font-size: 16px;
	height: 16px;
	padding: 2px 0 0 5px;
	width: 330px;
	text-align: left;
	background: rgba(246,144,43,.25);
	text-shadow: 0 0 4px #fff;
	color: #F4F3B7;
	margin-bottom: 10px;
}


.colorHeaderText {
	color: #F4F3B7;
	font-family: Arvo, sans-serif;
	font-weight: bold;
}

#featurethumbnails {
	width: 640px;
	height: 360px;
	margin-bottom: 7px;
	margin-left: 15px;
}

#videoCarousel {
	width: 648px;
	background: #559B7A;
	color: #94D0A5;
	overflow: hidden;
	display: block;
	margin-left: 15px;
	margin-bottom: 15px;
	background: none;
}

ul#featuredNav {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul#featuredNav li {
	display: inline;
}

ul#featuredNav li img {
	margin-right: 8px;
	width: 100px;
	height: 63px;
	line-height: 63px;
	float: left;
	text-align: center;
	color: #fff;
	text-decoration: none;
	vertical-align: middle;
	border: 0;
	opacity: .8;
}

.last {
	margin-right: 0;
}

ul#featuredNav li img:hover {
	border: 0;
	opacity: 1;
}

.comment-block {
	margin: 0 15px;
	width: 610px;
	padding: 15px;
}

.comment-body {
	font-family: helvetica;
	width: 500px;
	font-size: 14px;
}

.comment {
	display: block;
	margin-bottom: 15px;
}

.comment-name {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.comment-when {
	font-size: 16px;
}

.comment-text {
	margin-left: 100px;
}

.comment-avatar {
	float: left;
}

#maincol a.post-comment, #maincol a.post-reply {
	display: inline-block;
	padding: 0 10px;
	color: #fff;
	background: #d82324;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
}

.buttons {
	text-transform: uppercase;
	display: inline-block;
	font-family: Arvo, Helvetica, Arial, sans-serif;
	color: #fff;
	border: none;
	background: #d82324;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
	margin-top: 10px;
}

#maincol a.post-comment:hover, #maincol a.post-reply:hover {
	background: #d82324;
	text-decoration: none;
}

.post-comment {
	margin-top: -15px;
	margin-right: -15px;
	float: right;
}

.post-reply {
	font-size: .8em;
}

.comment-input {
	display: inline-block;
	padding: 5px;
	border: solid #c0c0c0 2px;
	vertical-align: middle;
	width: 95%;
	margin: 0;
}

.comment-header {
	height: 35px;
	margin-top: -15px;
	margin-left: -15px;
	margin-bottom: 15px;
	font-weight: bold;
	line-height: 35px;
	padding-left: 10px;
}

#comment-form, #comment-form2 {
	padding: 15px;
	width: 580px;
	margin-bottom: 20px;
	background: #f3f7a6;
	color: #000;
}

#signup-login {
	width: 260px;
	display: inline-block;
	vertical-align: middle;
	border-right: solid #c0c0c0 2px;
	padding-right: 15px;
}

#signup-signup {
	width: 260px;
	display: inline-block;
	padding-left: 15px;
	vertical-align: middle;
	text-align: center;
}

.cred-form label {
	vertical-align: middle;
	display: inline-block;
	width: 100px;
}

.field-row {
	display: inline-block;
	margin: 2px;
}

#errors {
	background: red;
	color: #fff;
	padding: 5px;
	display: none;
	margin-bottom: 10px;
}

/* VIDEO & BLOG PAGES
============== */

#titleArea h1 {
	font-family: Arvo, Arial, sans-serif;
	font-size: 56px;
	font-weight: bold;
	line-height: .9em;
	text-transform: uppercase;
}

#titleArea h2 {
	font-family: Arvo, Arial, sans-serif;
	font-size: 32px;
	font-weight: normal;
	line-height: .9em;
}

#titleArea h3 {
	font-family: Arvo, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: .9em;
}

#titleArea h4 {
	font-family: Arvo, Arial, sans-serif;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.3em;
	margin: 5px 0;
}

#videoDetails, #entryDetails {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 15px;
	color: #1B2023;
	font-size: 14px;
	line-height: 1.4em;
}

#videoDetails p, #entryDetails p {
	padding-bottom: 10px;
}

#blogTopBar {
	height: 35px;
	line-height: 35px;
	padding-left: 10px;
	font-size: 18px;
	font-weight: bold;
}

#titleArea {
	margin-bottom: 15px;
}

#titleArea a {
	color: #d82324;
	text-decoration: none;
}

#titleArea a:hover {
	color: #d82324;
	text-decoration: underline;
}

/* COLORS
============== */

/*CONSTANT COLORS*/

.colorBackgroundStory {
	background: #F4F3B7;
}

a.colorLinkStory {
	color: #D62A27;
}

.colorTextStory {
	
}

/*CATEGORY COLORS*/

.colorBackground {
	background-color: #D62A27;
}

.colorBackgroundHeader {
	background: #559B7A;
	color: #fff;
}

.colorBackgroundSidebar {
	background: #94D0A5;
}

a.colorLinkHeader {
	color: #fff;
}

a.colorLinkSidebar {
	color: #4c4d4f;
}

a.colorLinkFooter {
	color: #fff;
}

a.colorButton {
	background: #1B2023;
	color: #fff;
}

.colorTextSidebar {
	
}

.colorcomics {background:rgba(87,89,106,.75)}
.colormusic {background:rgba(79,193,178,.75)}
.colorgames {background:rgba(247,146,30,.75)}
.colorfilm {background:rgba(204,187,81,.75)}
.colortv {background:rgba(166,206,57,.75)}
.colorinteractive {background:rgba(231,14,122,.75)}
.colorextra, .colorextras {background:rgba(3,59,89,.75)}


/* FONTS & LINKS
============== */

.normal {
	font-weight: normal;
}

.clear {
	clear: both;
}

#maincol a {
	font-weight: bold;
	text-decoration: none;
	color: #d82324;
}

#maincol a:hover {
	text-decoration: underline;
}

#maincol a.next, #maincol a.prev {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0 4px #559B7A;
}

#maincol a.next:hover, #maincol a.prev:hover {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	background: #333;
}

.next, .prev {
	display: inline-block;
	width: 105px;
	padding: 5px;
	background: #000;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0 4px #559B7A;
}

.pagination .next {
	float: right;
}

.pagination .page {
	display: none;
}

/* FOOTER ELEMENTS
============== */

#footerBody {
	padding: 15px;
}

#footerNav {
	width:  955px;
	height: 20px;
	margin-bottom: 10px;
	display: block;
}

#footerNav ul {
	list-style: none;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
}

#footerNav ul li {
	display: inline;
}

#footerNav ul li a {
	margin-right: 20px;
	float: left;
	text-align: center;
	display: block;
	color: #fff;
	text-decoration: none;
	vertical-align: middle;
}

#footerNav ul li a:hover {
	background: #ddd;
}

#copyright, #copyright a {
	margin-right: 200px;
	color: #fff;
	font-size: 10px;
	height: 20px;
	margin: 0;
	padding: 0;
}

#copyright a {
 text-decoration: none;
}

#copyright a:hover {
 border-bottom: 2px solid #fff;
}

#studiowFooterNav {	width: 955px; height: 50px;	background: #5A7070; padding: 0; margin: 0 0 15px 0;}

#studiowFooterNav ul { width: 955px;  list-style: none; margin: 0;	padding: 0;}

#studiowFooterNav ul li { display: inline; }

#studiowFooterNav ul li a { height: 50px; display: inline-block; background: url(/media/images/sprites/studiow_footerNavBar.png) ;overflow:hidden; text-indent:-9999px;}

#studiowFooterNav ul li a#swfWow { width: 129px; background-position: -155px 0; }
#studiowFooterNav ul li a#swfDuc { width: 81px; background-position: -284px 0; }
#studiowFooterNav ul li a#swfPop { width: 102px; background-position: -366px 0; }
#studiowFooterNav ul li a#swfSdg { width: 136px; background-position: -466px 0; }
#studiowFooterNav ul li a#swfStu { width: 155px; background-position: 0 0; margin-left:336px}

#studiowFooterNav ul li a#swfWow:hover { background-position: -155px -100px; }
#studiowFooterNav ul li a#swfDuc:hover { background-position: -284px -100px; }
#studiowFooterNav ul li a#swfPop:hover { background-position: -366px -100px; }
#studiowFooterNav ul li a#swfSdg:hover { background-position: -466px -100px; }
#studiowFooterNav ul li a#swfStu:hover { background-position: 0 -100px; }

#studiowFooterNav ul li a#swfWow:active { background-position: -155px -150px; }
#studiowFooterNav ul li a#swfDuc:active { background-position: -284px -150px; }
#studiowFooterNav ul li a#swfPop:active { background-position: -366px -150px; }
#studiowFooterNav ul li a#swfSdg:active { background-position: -466px -150px; }
#studiowFooterNav ul li a#swfStu:active { background-position: 0 -150px; }


/* SHARE BAR
============== */

#shareBar {
	margin-top: 3px;
	margin-right: 10px;
	float: right;
}

#shareBar ul {
	height: 20px;
	list-style: none;
}

#shareBar ul li {
	display: inline;
}

#shareBar ul li a {
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat;
	background-position: -399px -48px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

#shareBar ul li a span {
	display: none;
}

#shareBar ul li a.shareTW {
	background-position: -399px -48px;
	margin-right: 3px;
}

#shareBar ul li a.shareDG {
	background-position: -420px -69px;
	margin-right: 3px;
}

#shareBar ul li a.shareRD {
	background-position: -420px -48px;
	margin-right: 3px;
}

#shareBar ul li a.shareSU {
	background-position: -399px -69px;
}

#fb {
	margin-top: -5px;
	display: inline-block;
	height: 35px;
	width: 90px;
}



.showMenuItem {
	display: inline-block; 
	margin-right: 15px;
	width: 200px;
}

.showMenuItem img {
	width: 200px;
	height: 113px;
	margin: 0;
	dislpay: block;
}

.showMenuItem h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}

.showMenuItem a {
	text-decoration: none;
	color: #d82324;
}

a.linkShowThumb {
	text-decoration: none;
	color: #d82324;
	height: 113px;
	width: 200px;
	padding:0;
	margin:0;
	display: block;
}

.showMenuItem p {
	font-size: 14px;
}


.showMenuCategory {
	font-family: Visitor, sans-serif;
	display: block;
	font-size: 16px;
	height: 16px;
	padding: 2px 5px 0 0;
	width: 195px;
	text-align: right;
	background: rgba(246,144,43,.25);
	text-shadow: 0 0 4px #fff;
	color: #F4F3B7;
	margin: 0 0 5px;
}