/* @override http://popgalaxy.com/media/style/style.css */

/*===RESET===*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/*
PAGE STRUCTURE
==============
*/

html, body {
	width: 100%;
	height: 100%;
}

body {
	background: url(/media/images/pagebg.svg) no-repeat #F4F3B7;
	font-family: Arvo, sans-serif;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
}

.colorHeader {
	background: #559B7A;
}

#container {
	width: 985px;
	margin: 0 auto;
	z-index: 1000;
}

#content {
	width: 985px;
	margin: 0 auto;
	background: #d82324;
	padding-bottom: 30px;
}

#maincol {
	width: 655px;
	float: left;
}

/*
HEADER & PAGE NAV
==============
*/


#header {
	width: 985px;
	height: 242px;
}

#headerheadlines {
	width: 716px;
	height: 33px;
	background: #D62A27;
	color: #F4F1B5;
	font-family: 'Visitor';
	font-size: 30px;
	font-size: 25px;
	margin-top: 155px;
	margin-left: 261px;
	position: absolute;
	z-index: 100;
	line-height: 33px;
	padding-left: 8px;
	overflow: hidden;
}

.headerheadlinesinset {
	position: absolute;
	padding: 0 10px;
	width: 696px;
}

/*
AD SPOTS
==============
*/

#adLeader {
	width: 728px;
	height: 90px;
	background: #666 url(/media/images/adbg.png);
	margin-top: 17px;
	position: absolute;
	margin-right: 0;
	margin-left: 312px;
	z-index: 300;
}

#adLeft{
    background: #666 url(/media/images/adbg.png);
}


.pagination .page{
    display: none;
}

.pagination .next, .pagination .prev{
    display: inline-block;
    width: 105px;
    padding: 5px;
    background: #000;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 4px #559B7A;
}

.pagination .next{
    float: right;
}

.home_description p{
	display: inline-block;
}

#videoPlayer {
	margin-left: -15px;
	margin-left: 20px;
	width: 640px;
	height: 392px;
	background: #D62A27 url(/media/images/playerbg.png) no-repeat center;
}



#videoNowPlaying {
	width: 610;
	height: 45px;
	overflow: hidden;
	background: #94D0A5;
	margin-left: 15px;
	margin-top: 15px;
	color: #fff;
	font-weight: 18px;
	display: none;
}

#videoNowPlayingLabel {
	padding: 10px;
	float: left;
	background: #94D0A5;
	width: 90px;
	font-size: 18px;
	line-height: .9em;
	text-align: right;
	font-weight: bold;
	text-transform: uppercase;
}

#videoNowPlayingTitle {
	width: 480px;
	padding: 10px;
	font-size: 18px;
	line-height: .9em;
	float: left;
	background: #559B7A;
}

.titleMain {
	color: #F4F3B7;
	font-weight: bold;
}

.titleSub {
	
}

#videoNowPlayingClear{
	clear: both;
}

#videoDetails {
	font-family: Helvetica Neue, Arial, sans-serif;
	padding: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
	background: #f9fad9;
	color: #1B2023;
	font-size: 14px;
	line-height: 1.4em;
}


#videoDetails p {
	padding-bottom: 10px;
}

#sidecol {
	width: 300px;
	float: left;
	margin-left: 15px;
}

#adBox {
	width: 300px;
	height: 250px;
	background: #666 url(/media/images/adbg.png);
}

.boxTop {
	width: 330px;
	height: 15px;
	margin-right: -15px;
}

.boxTopCornerRight {
	margin-left: 315px;
	width: 15px;
	height: 15px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: -427px -30px;
}


.box {
	margin-right: -15px;
	background: #559B7A;
	background: #91d798;
	width: 330px;
	height: 317px;
}
#pg_minilogo1 {
	width: 42px;
	height: 36px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: -356px -29px;
}
#pg_minilogo2 {
	width: 42px;
	height: 36px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: -356px -65px;
}

#feedHeader, .boxHeader {
	height: 15px;
	color: #fff;
	text-transform: uppercase;
	overflow: hidden;
	padding: 10px 10px 10px 55px;
	font-weight: bold;
	font-size: 18px;
}

#contentclear {
	clear: both;
}

#feedBody, .boxBody {
	padding: 10px;
}

#feedBody a, .boxBody a {
	font-weight: bold;
	text-decoration: none;
	color: #D62A27;
}

.boxIcon {
	background: url(/media/images/sprites/pg_sprites_01-main.png) 5px 5px no-repeat ;
	background-position: -356px -29px;
	margin: 6px 0 0 6px;
	width: 42px;
	height: 36px;
	position: absolute;
}

.footerIcon {
	background: url(/media/images/sprites/pg_sprites_01-main.png) 5px 5px no-repeat ;
	background-position: -356px -65px;
	margin: 6px 0 0 6px;
	width: 42px;
	height: 36px;
	position: absolute;
}

.tweet ul {
	list-style: none;
}

.tweet ul li {
	margin-top: 15px;
	padding: 10px;
/*	background: #94D0A5;*/
}

#sectionTitle, .resultsTitle {
	padding: 10px;
	height: 20px;
	line-height: 30px;
	background: #666;
	font-weight: bold;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
}

#videoList #sectionTitle {
	margin-bottom: 0;
	margin-left: 15px;
}

#videoList {
	color: #fff;
	line-height: .9em;
}

#videoList a {
	font-weight: bold;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

.videoThumb img {
	width: 193px;
}

.videoRow {
    overflow: auto;
}

.videoItem {
	overflow: hidden;
	width: 193px;
	margin-left: 15px;
	float: left;
	margin-top: 15px;
}

.videoDurationLabel {
	font-size: 12px;
	color: #94D0A5;
}

.videoDuration {
	
}

.readMore a {
	font-family: Rockwell, sans-serif;
	text-decoration: none;
	font-weight: bold;
	color: #D62A27;
}

.readMore a:hover {
	background: #D62A27;
	color: #f9fad9;
}

.readMore a:visited {
	color: #b11e1c;
}

#blogEntry {
	margin-left: 15px;
	margin-bottom: 15px;
	background: #f9fad9;
	color: #1B2023;
	padding: 15px;
}

#videoList .resultsTitle {
	margin-bottom: 0;
	margin-left: 15px;
}

#sectionTitle, .resultsTitle {
	padding: 10px;
	height: 20px;
	line-height: 30px;
	background: #666;
	font-weight: bold;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
}

#videoList .resultsTitle {
	margin-bottom: 0;
	margin-left: 15px;
}

#blogEntry .resultsTitle {
	margin: -15px -15px 15px -15px;
}

#blogEntry .entryTitle {
	padding: 0;
	color: #D62A27;
	font-size: 48px;
	line-height: .8em;
}

#entriesList {
	background: #f9fad9;
	color: #1B2023;
	margin-bottom: 15px;
}

.entryItem {
	padding: 0 15px 15px;
}

.entryItem .entryTitle {
	margin-bottom: 15px;
	margin: 0;
	padding: 0;
	font-size: 24px;
}

.entryItem a {
	text-decoration: none;
	font-weight: bold;
	color: #D62A27;
}

.entryItem a:hover {
	background: #D62A27;
	color: #f9fad9;
}

.entryThumb {
	float: left;
	width: 200px;
	margin-right: 10px;
}

.entryTitle {
	padding: 15px 15px 0 15px;
	color: #D62A27;
	font-size: 48px;
	line-height: .8em;
}

.entryDetails {
	font-family: Helvetica Neue, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
}

.entryDetails p {	
	padding-bottom: 10px;
}

.entryDate {
	clear: both;
	font-size: 12px;
	color: #999;
	border-bottom: 1px #1B2023 solid;
}

.byLine {
	clear: both;
	font-size: 14px;
	color: #000;
}

.tweet {
	font-family: Visitor, sans-serif;
	width: 310px;
	line-height: .8em;
	color: #4c4d4f;
}

.tweet ul {
	list-style: none;
}

.tweetLi {
	margin-bottom: 20px;
	display: block;
}

.tweetLi a {
	padding: 5px;
	color: #4c4d4f;
	background: none;
	font-weight: normal;
	text-decoration: none;	
	display: block;
}

.tweetLi a:hover {
	color: #fff;
	background: rgba(0,0,0,.25)
}

.tweetProfileIcon {
	float: left;
}

.tweetProfileIcon img {
	width: 32px;
	height: 32px;
}

.tweetRight {
	margin-left: 40px;
	width: 260px;
}

.tweetText {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.3em;
	display: block;
	margin-bottom: 2px;
}

.tweetScreenName {
	font-size: 15px;
	font-family: Visitor, sans-serif;
	display: block;
	margin-bottom: 2px;
}

.tweetDate {
	font-size: 14px;
	display: block;
}

#entriesList {
	margin-left: 15px;
	
}

#resultsHeader {
	color: #999;
	font-family: Visitor, sans-serif;
	font-size: 24px;
	line-height: 18px;
}

.resultSet {
	width: 180px;
	float: left;
	margin-right: 15px;
	color: #fff;
	line-height: .9em;
}

.emptyResultSet {
	color: #999;
	font-family: Visitor, sans-serif;
	font-size: 24px;
	line-height: 18px;
	margin-bottom: 15px;
}

#videoList {

}

.videoResultSet a {
	font-weight: bold;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

.videoResultSet img {
	width: 180px;
}

.videoResultSet {
	overflow: hidden;
	width: 180px;
	margin-left: 15px;
	float: left;
	margin-top: 15px;
}

.searchResults {
	margin-bottom: 15px;
}

#searchResultsList {
	margin-left: 15px;
}

.blogResultSet {
	padding: 15px;
	background: #f9fad9;
}

.blogResultSet .entryThumb {
	float: left;
	width: 200px;
	margin-right: 10px;
}

.blogResultSet .entryTitle {
	margin-bottom: 15px;
	margin: 0;
	padding: 0;
	font-size: 18px;
}

.blogResultSet .entryTitle a {
	text-decoration: none;
	font-weight: bold;
	color: #D62A27;
}

.blogResultSet .entryDate {
	clear: none;
	border: none;
}


#connect {
	width: 955px;
	width: 997px;
	height: 60px;
	margin: 0 auto;
	background: url(/media/images/connect.png);
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	margin-left: 0px;
}

#footer {
	width: 955px;
	width: 997px;
	margin: 0 auto 30px auto;
	min-height: 310px;
	background: url(/media/images/footerbg.png) no-repeat #1B2023 bottom right;
	margin-left: 0px;
}

#footerHeader {
	background: ;
	color: #fff;
	text-transform: uppercase;
	height: 15px;
	overflow: hidden;
	padding: 10px 10px 10px 55px;
	font-weight: bold;
	font-size: 18px;
}

.category {
	font-family: Visitor, sans-serif ;
	display: inline-block; 
	float: right;
	font-size: 16px;
	height: 16px;
	padding: 2px 2px 0 0;
	width: 70px;
	text-align: right;
	background: rgba(246,144,43,.25);
	text-shadow: 0 0 4px #fff;
	color: #F4F3B7;
}

#newsItems {
	width: 460px;
	margin-left: 15px;
	padding: 0;
	display: inline-block;
}

.newsItem {
	padding: 0;
}

.newsHeader {
	float: left;
	font-size: 24px;
	width: 375px;
	line-height: .95em;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.newsItemText {
	display: inline-block; 
	vertical-align: top; 
	width: 305px;
	font-size: 14px; 
	line-height: 1.5em;
	color: #F4F3E9; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left: 8px;
	overflow: hidden;
}

.colorHeaderText {
	color: #F4F3B7;
}

#featurethumbnails {
	width: 640px;
	height: 360px;
	margin-bottom: 7px;
	margin-left: 15px;
}

#videoCarousel {
	width: 640px;
	background: #559B7A;
	color: #94D0A5;
	overflow: hidden;
	display: block;
	margin-left: 15px;
	margin-bottom: 15px;
	background: none;
}

ul#featuredNav {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul#featuredNav li {
	display: inline;
}

ul#featuredNav li img {
	margin-right:7px;
	width: 100px;
	height: 63px;
	line-height: 63px;
	float: left;
	text-align: center;
	color: #fff;
	text-decoration: none;
	vertical-align: middle;
	border: 0;
	opacity: .8;
}

.last {
	margin-right: 0;
}

ul#featuredNav li img:hover {
	border: 0;
	opacity: 1;
}


#headernav {
	width: 835px;
	padding: 15px 15px 15px 135px;
	margin: 188px 0 0;
	background: #D62A27;
	position: absolute;
}

#search {
	display: inline;
	color: #1B2023;
}

#searchbox {
	width: 709px;
	height: 34px;
	line-height: .3em;
	border: 2px solid #CCCCCC;
	font-family: Visitor, sans-serif;
	color: #888688;
	font-size: 30px;
	padding-left: 40px;
	background: url(/media/images/iconsearch.png) 8px 8px no-repeat #fff;
}

ul#nav {
	display: inline;
	list-style: none;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
}

ul#nav li {
	display: inline;
}

ul#nav li a {
	margin-right:20px;
	float: left;
	text-align: center;
	display: block;
	color: #fff;
	text-decoration: none;
	vertical-align: middle;
}

ul#nav li a:hover {
	background: #ddd;
}

ul#nav li a#shows {
	width: 112px;
	height: 30px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: -355px 0px;
	position: absolute;
	top: 10px;
	left: 10px;
}

/* BEGIN FOLLOW BOX */
ul#follownav {
	display: inline;
	list-style: none;
}
ul#follownav li {
	width: 55px;
	height: 55px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat;
	background-position: -285px 0;
	padding-top:15px;
	padding-left:15px;
	display: block;
	text-align:left;
	float:left;
	margin-left:9px;
}
ul#follownav li a#facebook {
	width: 48px;
	height: 48px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat;
	background-position: -497px -90px;
	display:block;
	clear:right;
}
ul#follownav li a#twitter {
	width: 48px;
	height: 48px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat;
	background-position: -399px -90px;
	display:block;
}
ul#follownav li a#reddit {
	width: 48px;
	height: 48px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat;
	background-position: -546px -90px;
	display:block;
}
ul#follownav li a#youtube {
	width: 48px;
	height: 48px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat;
	background-position: -448px -90px;
	display:block;
}
ul#follownav li.first {
	margin-left:0;
}

/* END FOLLOW BOX */
