/* @override http://popgalaxy.com/media/style/style.css */

/*===RESET===*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/*
PAGE STRUCTURE
==============
*/

html, body {
	width: 100%;
	height: 100%;
}

body {
	background: url(/media/images/pagebg.svg) no-repeat #F4F3B7;
	font-family: Arvo, sans-serif;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
}

#container {
	width: 985px;
	margin: 0 auto;
	z-index: 1000;
}

#content {
	width: 985px;
	margin: 0 auto;
	background: #d82324;
	padding-bottom: 30px;
}

#maincol {
	width: 655px;
	float: left;
}

#sidecol {
	width: 300px;
	float: left;
	margin-left: 15px;
}

#pagecontent {
	margin-left: -15px;
	width: 670px;
	background: #f9fad9;
	padding: 0 0 15px;
}

#connect {
	width: 997px;
	height: 60px;
	margin: 0 auto;
	background: url(/media/images/connect.png);
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	margin-left: 0px;
}

#footer {
	width: 955px;
	width: 997px;
	margin: 0 auto 30px auto;
	min-height: 310px;
	background: url(/media/images/footerbg.png) no-repeat #1B2023 bottom right;
	margin-left: 0px;
}

/*
HEADER & PAGE NAV
==============
*/

#header {
	width: 985px;
	height: 242px;
}

#headerheadlines {
	width: 716px;
	height: 33px;
	background: #D62A27;
	font-family: 'Visitor';
	font-size: 30px;
	font-size: 25px;
	margin-top: 155px;
	margin-left: 261px;
	position: absolute;
	z-index: 100;
	line-height: 33px;
	padding-left: 8px;
	overflow: hidden;
	color: #F4F1B5;
	text-shadow: 0 0 5px #94D0A5;
}

.headerheadlinesinset {
	position: absolute;
	padding: 0 10px;
	width: 696px;
}

#shows_box {
	padding: 10px;
	background: #f3f7a6;
	height: 170px;
	display: none;
	margin-left: -120px;
	margin-top: 25px;
}

ul#nav {
	display: inline;
	list-style: none;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
}

ul#nav li {
	display: inline;
}

ul#nav li a {
	margin-right: 20px;
	float: left;
	text-align: center;
	display: block;
	color: #fff;
	text-decoration: none;
	vertical-align: middle;
}

ul#nav li a:hover {
	background: #ddd;
}

ul#nav li a#shows {
	width: 112px;
	height: 30px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: -355px 0px;
	position: absolute;
	top: 10px;
	left: 10px;
}

#headernav {
	width: 835px;
	padding: 15px 15px 15px 135px;
	margin: 188px 0 0;
	background: #D62A27;
	position: absolute;
}

#search {
	display: inline;
	color: #1B2023;
}

#searchBar {
	display: inline;
	background: #000;
	width: 150px;
	padding: 5px;
	margin-top: -6px;
	margin-right: -4px;
}

#searchBar form {
	display: inline;
}

#searchBar input {
	width: 120px;
	border: 0;
	height: 18px;
	font-size: 14px;
	font-family: Visitor, sans-serif;
	color: #fff;
	background: #000;
	display: inline;
}

#searchButton {
	width: 18px;
	height: 18px;
}

#searchbox {
	width: 709px;
	height: 34px;
	line-height: .3em;
	border: 2px solid #CCCCCC;
	font-family: Visitor, sans-serif;
	color: #888688;
	font-size: 30px;
	padding-left: 40px;
	background: url(/media/images/iconsearch.png) 8px 8px no-repeat #fff;
}

/*
AD SPOTS
==============
*/

#adLeader {
	width: 728px;
	height: 90px;
	background: #666 url(/media/images/adbg.png);
	margin-top: 17px;
	position: absolute;
	margin-right: 0;
	margin-left: 312px;
	z-index: 300;
}

#adLeft {
	background: #666 url(/media/images/adbg.png);
}

#adBox {
	width: 300px;
	height: 250px;
	background: #666 url(/media/images/adbg.png);
}

.pagination .page {
	display: none;
}

.next, .prev {
	display: inline-block;
	width: 105px;
	padding: 5px;
	background: #000;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0 4px #559B7A;
}

#maincol a.next, #maincol a.prev {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0 4px #559B7A;
}

#maincol a.next:hover, #maincol a.prev:hover {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	background: #333;
}

.pagination .next {
	float: right;
}

.home_description p {
	display: inline-block;
}

#videoPlayer {
	width: 640px;
	margin: 15px;
	height: 392px;
	background: #D62A27 url(/media/images/playerbg.png) no-repeat center;
}

/*#videoNowPlaying {
	width: 670px;
	overflow: hidden;
	background: #559B7A;
	color: #fff;
	font-weight: 18px;
}

#videoNowPlayingLabel {
	padding: 10px;
	float: left;
	width: 90px;
	font-size: 18px;
	line-height: .9em;
	text-align: right;
	font-weight: bold;
	text-transform: uppercase;
}

#videoNowPlayingTitle {
	width: 420px;
	padding: 10px;
	font-size: 18px;
	line-height: .9em;
	float: left;
	overflow: hidden;
}*/

.titleMain {
	color: #F4F3B7;
	font-weight: bold;
	font-size: 18px;
}

.titleSub {
	font-size: 14px;
}

#videoNowPlayingClear {
	clear: both;
}

/*
FEATURE BOX
==============
*/

/*
SIDEBAR ELEMENTS
==============
*/

.boxTop {
	width: 330px;
	height: 15px;
	margin-right: -15px;
}

.boxTopCornerRight {
	margin-left: 315px;
	width: 15px;
	height: 15px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: -427px -30px;
}

.boxTopCornerLeft {
	margin-left: -15px;
	margin-top: -15px;
	width: 15px;
	height: 15px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: -410px -30px;
}

.box {
	margin-right: -15px;
	background: #559B7A;
	background: #91d798;
	width: 330px;
	height: 317px;
}

.boxBody {
	padding: 10px;
}

.boxNav {
	text-align: center;
	padding: 0;
	margin: 0;
}

.boxNav ul {
	list-style: none;
	font-family: Visitor, sans-serif;
	font-size: 14px;
}

.boxNav ul li {
	display: inline;
	padding: 0;
	margin: 0;
}

.boxNav ul li a {
	display: inline-block;
	padding: 3px 6px;
	color: #4c4d4f;
	text-decoration: none;
	border: 0;
	margin: 0;
}

.boxNav ul li a:hover {
	color: #fff;
	background: rgba(0,0,0,.5);
}

.boxNav ul li a.selected {
	background: #559B7A;
	color: #F4F1B5;
	text-shadow: 0 0 5px #94D0A5;
}

/* BEGIN FOLLOW BOX */

ul#follownav {
	display: inline;
	list-style: none;
}

ul#follownav li {
	width: 55px;
	height: 55px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat;
	background-position: -285px 0;
	padding-top: 15px;
	padding-left: 15px;
	display: block;
	text-align: left;
	float: left;
	margin-left: 9px;
}

ul#follownav li a#facebook {
	width: 48px;
	height: 48px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat;
	background-position: -497px -90px;
	display: block;
	clear: right;
}

ul#follownav li a#twitter {
	width: 48px;
	height: 48px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat;
	background-position: -399px -90px;
	display: block;
}

ul#follownav li a#reddit {
	width: 48px;
	height: 48px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat;
	background-position: -546px -90px;
	display: block;
}

ul#follownav li a#youtube {
	width: 48px;
	height: 48px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat;
	background-position: -448px -90px;
	display: block;
}

ul#follownav li.first {
	margin-left: 0;
}

/* END FOLLOW BOX */

.tweet {
	font-family: Visitor, sans-serif;
	width: 310px;
	line-height: .8em;
	color: #4c4d4f;
}

.tweet ul {
	list-style: none;
}

.tweet ul li {
	margin-top: 15px;
	padding: 10px;
}

.tweetLi {
	margin-bottom: 20px;
	display: block;
}

.tweetLi a {
	padding: 5px;
	color: #4c4d4f;
	background: none;
	font-weight: normal;
	text-decoration: none;
	display: block;
}

.tweetLi a:hover {
	color: #fff;
	background: rgba(0,0,0,.25)
}

.tweetProfileIcon {
	float: left;
}

.tweetProfileIcon img {
	width: 32px;
	height: 32px;
}

.tweetRight {
	margin-left: 40px;
	width: 260px;
}

.tweetText {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.3em;
	display: block;
	margin-bottom: 2px;
}

.tweetScreenName {
	font-size: 15px;
	font-family: Visitor, sans-serif;
	display: block;
	margin-bottom: 2px;
}

.tweetDate {
	font-size: 14px;
	display: block;
}

.seemore {
	font-family: Visitor, sans-serif;
	font-weight: normal;
}

.seemore ul {
	list-style: none;
}

.seemore ul li {
	display: block;
}

.seemore ul li img {
	width: 79px;
	height: 50px;
	float: left;
	margin-right: 10px;
}

.seemore ul li a {
	font-family: Visitor, sans-serif;
	width: 300px;
	height: 50px;
	line-height: .8em;
	color: #4c4d4f;
	display: block;
	font-weight: normal;
	padding: 5px;
}

.seemoreTitle {
	font-size: 18px;
}

.seemoreSubTitle {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 1.3em;
}

.seemoreCount {
	font-size: 12px;
}

.seemore a:hover {
	color: #fff;
	background: rgba(0,0,0,.25)
}

#pg_minilogo1 {
	width: 42px;
	height: 36px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: -356px -29px;
}

#pg_minilogo2 {
	width: 42px;
	height: 36px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: -356px -65px;
}

#feedHeader, .boxHeader {
	height: 15px;
	color: #fff;
	text-transform: uppercase;
	overflow: hidden;
	padding: 10px 10px 10px 55px;
	font-weight: bold;
	font-size: 18px;
}

#contentclear {
	clear: both;
}

.boxIcon {
	background: url(/media/images/sprites/pg_sprites_01-main.png) 5px 5px no-repeat;
	background-position: -356px -29px;
	margin: 6px 0 0 6px;
	width: 42px;
	height: 36px;
	position: absolute;
}

.footerIcon {
	background: url(/media/images/sprites/pg_sprites_01-main.png) 5px 5px no-repeat;
	background-position: -356px -65px;
	margin: 6px 0 0 6px;
	width: 42px;
	height: 36px;
	position: absolute;
}

#sectionTitle, .resultsTitle {
	padding: 10px;
	height: 20px;
	line-height: 30px;
	background: #666;
	font-weight: bold;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
}

#videoList #sectionTitle {
	margin-bottom: 0;
	margin-left: 15px;
}

#videoList {
	color: #fff;
	line-height: .9em;
}

#videoList a {
	font-weight: bold;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

.videoThumb img {
	width: 193px;
}

.videoRow {
	overflow: auto;
}

.videoItem {
	overflow: hidden;
	width: 193px;
	margin-left: 15px;
	float: left;
	margin-top: 15px;
}

.videoDurationLabel {
	font-size: 12px;
	color: #94D0A5;
}

.videoDuration {
	
}

.readMore a {
	font-family: Rockwell, sans-serif;
	text-decoration: none;
	font-weight: bold;
	color: #D62A27;
}

.readMore a:hover {
	background: #D62A27;
	color: #f9fad9;
}

.readMore a:visited {
	color: #b11e1c;
}

#videoList .resultsTitle {
	margin-bottom: 0;
	margin-left: 15px;
}

#sectionTitle, .resultsTitle {
	padding: 10px;
	height: 20px;
	line-height: 30px;
	background: #666;
	font-weight: bold;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
}

#videoList .resultsTitle {
	margin-bottom: 0;
	margin-left: 15px;
}

#entriesList {
	background: #f9fad9;
	color: #1B2023;
	margin-bottom: 15px;
}

.entryItem {
	padding: 0 15px 15px;
}

.entryItem .entryTitle {
	margin-bottom: 15px;
	margin: 0;
	padding: 0;
	font-size: 24px;
}

.entryItem a {
	text-decoration: none;
	font-weight: bold;
	color: #D62A27;
}

.entryItem a:hover {
	background: #D62A27;
	color: #f9fad9;
}

.entryThumb {
	float: left;
	width: 200px;
	margin-right: 10px;
}

.entryTitle {
	padding: 15px 15px 0 15px;
	color: #D62A27;
	font-size: 48px;
	line-height: .8em;
}

.entryDetails {
	font-family: Helvetica Neue, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
}

.entryDetails p {
	padding-bottom: 10px;
}

.entryDate {
	clear: both;
	font-size: 12px;
	color: #999;
	border-bottom: 1px #1B2023 solid;
}

.byLine {
	clear: both;
	font-size: 14px;
	color: #000;
}

#entriesList {
	margin-left: 15px;
}

#resultsHeader {
	color: #999;
	font-family: Visitor, sans-serif;
	font-size: 24px;
	line-height: 18px;
}

.resultSet {
	width: 180px;
	float: left;
	margin-right: 15px;
	color: #fff;
	line-height: .9em;
}

.emptyResultSet {
	color: #999;
	font-family: Visitor, sans-serif;
	font-size: 24px;
	line-height: 18px;
	margin-bottom: 15px;
}

.videoResultSet a {
	font-weight: bold;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

.videoResultSet img {
	width: 180px;
}

.videoResultSet {
	overflow: hidden;
	width: 180px;
	margin-left: 15px;
	float: left;
	margin-top: 15px;
}

.searchResults {
	margin-bottom: 15px;
}

#searchResultsList {
	margin-left: 15px;
}

#footerHeader {
	background: ;
	color: #fff;
	text-transform: uppercase;
	height: 15px;
	overflow: hidden;
	padding: 10px 10px 10px 55px;
	font-weight: bold;
	font-size: 18px;
}

.category {
	font-family: Visitor, sans-serif;
	display: inline-block;
	float: right;
	font-size: 16px;
	height: 16px;
	padding: 2px 2px 0 0;
	width: 70px;
	text-align: right;
	background: rgba(246,144,43,.25);
	text-shadow: 0 0 4px #fff;
	color: #F4F3B7;
}

#newsItems {
	width: 460px;
	margin-left: 15px;
	padding: 0;
	display: inline-block;
}

.newsItem {
	padding: 0;
}

.newsHeader {
	float: left;
	font-size: 24px;
	width: 375px;
	line-height: .95em;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.newsItemText {
	display: inline-block;
	vertical-align: top;
	width: 305px;
	font-size: 14px;
	line-height: 1.5em;
	color: #F4F3E9;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left: 8px;
	overflow: hidden;
}

.colorHeaderText {
	color: #F4F3B7;
}

#featurethumbnails {
	width: 640px;
	height: 360px;
	margin-bottom: 7px;
	margin-left: 15px;
}

#videoCarousel {
	width: 648px;
	background: #559B7A;
	color: #94D0A5;
	overflow: hidden;
	display: block;
	margin-left: 15px;
	margin-bottom: 15px;
	background: none;
}

ul#featuredNav {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul#featuredNav li {
	display: inline;
}

ul#featuredNav li img {
	margin-right: 8px;
	width: 100px;
	height: 63px;
	line-height: 63px;
	float: left;
	text-align: center;
	color: #fff;
	text-decoration: none;
	vertical-align: middle;
	border: 0;
	opacity: .8;
}

.last {
	margin-right: 0;
}

ul#featuredNav li img:hover {
	border: 0;
	opacity: 1;
}

.comment-block {
	margin: 0 15px;
	width: 610px;
	padding: 15px;
}

.comment-body {
	font-family: helvetica;
	width: 500px;
	font-size: 14px;
}

.comment {
	display: block;
	margin-bottom: 15px;
}

.comment-name {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.comment-when {
	font-size: 16px;
}

.comment-text {
	margin-left: 100px;
}

.comment-avatar {
	float: left;
}

#maincol a.post-comment, #maincol a.post-reply {
	display: inline-block;
	padding: 0 10px;
	color: #fff;
	background: #d82324;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
}

.buttons {
	text-transform: uppercase;
	display: inline-block;
	font-family: Arvo, Helvetica, Arial, sans-serif;
	color: #fff;
	border: none;
	background: #d82324;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
	margin-top: 10px;
}

#maincol a.post-comment:hover, #maincol a.post-reply:hover {
	background: #d82324;
	text-decoration: none;
}

.post-comment {
	margin-top: -15px;
	margin-right: -15px;
	float: right;
}

.post-reply {
	font-size: .8em;
}

.comment-input {
	display: inline-block;
	padding: 5px;
	border: solid #c0c0c0 2px;
	vertical-align: middle;
	width: 95%;
	margin: 0;
}

.comment-header {
	height: 35px;
	margin-top: -15px;
	margin-left: -15px;
	margin-bottom: 15px;
	font-weight: bold;
	line-height: 35px;
	padding-left: 10px;
}

#comment-form, #comment-form2 {
	padding: 15px;
	width: 580px;
	margin-bottom: 20px;
	background: #f3f7a6;
	color: #000;
}

#signup-login {
	width: 260px;
	display: inline-block;
	vertical-align: middle;
	border-right: solid #c0c0c0 2px;
	padding-right: 15px;
}

#signup-signup {
	width: 260px;
	display: inline-block;
	padding-left: 15px;
	vertical-align: middle;
	text-align: center;
}

.cred-form label {
	vertical-align: middle;
	display: inline-block;
	width: 100px;
}

.field-row {
	display: inline-block;
	margin: 2px;
}

#errors {
	background: red;
	color: #fff;
	padding: 5px;
	display: none;
	margin-bottom: 10px;
}

/* VIDEO & BLOG PAGES
============== */

#titleArea h1 {
	font-family: Arvo, Arial, sans-serif;
	font-size: 56px;
	font-weight: bold;
	line-height: .9em;
	text-transform: uppercase;
}

#titleArea h2 {
	font-family: Arvo, Arial, sans-serif;
	font-size: 32px;
	font-weight: normal;
	line-height: .9em;
}

#titleArea h3 {
	font-family: Arvo, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: .9em;
}

#titleArea h4 {
	font-family: Arvo, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: .9em;
}

#videoDetails, #entryDetails {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 15px;
	color: #1B2023;
	font-size: 14px;
	line-height: 1.4em;
}

#videoDetails p, #entryDetails p {
	padding-bottom: 10px;
}

#blogTopBar {
	height: 35px;
	line-height: 35px;
	padding-left: 10px;
	font-size: 18px;
	font-weight: bold;
}

#titleArea {
	margin-bottom: 15px;
}

#titleArea a {
	color: #d82324;
	text-decoration: none;
}

#titleArea a:hover {
	color: #d82324;
	text-decoration: underline;
}

/* COLORS
============== */

.color1, .colorHeader {
	background: #559B7A;
	color: #fff;
}

.color2 {
	
}

.color3 {
	color: #F4F3B7;
}

/* FONTS & LINKS
============== */

.normal {
	font-weight: normal;
}

.clear {
	clear: both;
}

#maincol a {
	font-weight: bold;
	text-decoration: none;
	color: #d82324;
}

#maincol a:hover {
	text-decoration: underline;
}

/* FOOTER ELEMENTS
============== */

#footerBody {
	padding: 15px;
}

ul#footerNav {
	display: inline;
	list-style: none;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
}

ul#footerNav li {
	display: inline;
}

ul#footerNav li a {
	margin-right: 20px;
	float: left;
	text-align: center;
	display: block;
	color: #fff;
	text-decoration: none;
	vertical-align: middle;
}

ul#footerNav li a:hover {
	background: #ddd;
}

/* SHARE BAR
============== */

#shareBar {
	margin-top: 3px;
	margin-right: 10px;
	float: right;
}

#shareBar ul {
	height: 20px;
	list-style: none;
}

#shareBar ul li {
	display: inline;
}

#shareBar ul li a {
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat;
	background-position: -399px -48px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

#shareBar ul li a span {
	display: none;
}

#shareBar ul li a.shareTW {
	background-position: -399px -48px;
	margin-right: 3px;
}

#shareBar ul li a.shareDG {
	background-position: -420px -69px;
	margin-right: 3px;
}

#shareBar ul li a.shareRD {
	background-position: -420px -48px;
	margin-right: 3px;
}

#shareBar ul li a.shareSU {
	background-position: -399px -69px;
}

#fb {
	margin-top: -5px;
	display: inline-block;
	height: 35px;
	width: 90px;
}