/*===RESET===*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

br.clearer{
    clear:both;
}
br.clearer-right{
    clear:right;
}
br.clearer-left{
    clear:left;
}

#headerlogo{
	margin-left: 0;
	padding-left: 0;
	text-align: left;
}

#headerlogo a {
	width: 286px;
	height: 138px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: 0px 0px;
	margin-top: 50px;
	margin-left: -13px;
    text-align: left;
    padding-left: 0px;
	position: absolute;
	/* z-index: 200; */
}

#headerlogo a span {
	display: none;
}

.iconblock {
	width: 68px;
	height: 68px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: -287px 0;
}
#uparrow {
	width: 71px;
	height: 44px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: 69px 287px;
}
#pg_minilogo1 {
	width: 42px;
	height: 36px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: 356px 29px;
}
#pg_minilogo2 {
	width: 42px;
	height: 36px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: 356px 65px;
}




#adLeader {
	width: 728px;
	height: 90px;
	background: #666 url(/media/images/adbg.png);
	margin-top: 17px;
	position: absolute;
	margin-right: 0;
	margin-left: 312px;
	z-index: 300;
}

#headernav {
	width: 925px;
	padding: 15px;
	margin: 188px 42px 0;
	background: #1B2023;
	position: absolute;
}








#search {
	display: inline;
	color: #1B2023;
}

#searchbox {
	width: 709px;
	height: 34px;
	line-height: .3em;
	border: 2px solid #CCCCCC;
	font-family: Ack, sans-serif;
	color: #888688;
	font-size: 30px;
	padding-left: 40px;
	background: url(/media/images/iconsearch.png) 8px 8px no-repeat #fff;
}

/*#content {
	width: 955px;
	margin: 0 auto;
	background: #1B2023;
}*/

#maincol {
	width: 625px;
	float: left;
}

#featurethumbnails {
	margin-left: 20px;
	width: 640px;
	height: 360px;
}

.titleMain {
	color: #F4F3B7;
	font-weight: bold;
}

.titleSub {
	font-size: 75%;
}

#videoNowPlayingClear{
	clear: both;
}

#sectionTitle {
	background: #515151;
	padding: 10px;
	float: left;
	/*background: #94D0A5;*/
	width: 90px;
	font-size: 18px;
	line-height: .9em;
	text-align: right;
	font-weight: bold;
	text-transform: uppercase;
}

#sidecol {
	width: 300px;
	float: left;
	margin-left: 15px;
}


#contentclear {
	clear: both;
}


/* END */
