/*===RESET===*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background: url(/media/images/pagebg.svg) no-repeat #F4F3B7;
	font-family: Rocky, sans-serif;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
}

br.clearer{
    clear:both;
}
br.clearer-right{
    clear:right;
}
br.clearer-left{
    clear:left;
}

#container {
	width: 1040px;
	margin: 0 auto;
	z-index: 1000;
}

#header {
	width: 1040px;
	height: 257px;
}

#headerlogo{
	margin-left: 0;
	padding-left: 0;
	text-align: left;
}

#headerlogo a {
	width: 286px;
	height: 138px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: 0px 0px;
	margin-top: 50px;
	margin-left: -13px;
    text-align: left;
    padding-left: 0px;
	position: absolute;
	/* z-index: 200; */
}

#headerlogo a span {
	display: none;
}

.iconblock {
	width: 68px;
	height: 68px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: -287px 0;
}
#uparrow {
	width: 71px;
	height: 44px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: 69px 287px;
}
#pg_minilogo1 {
	width: 42px;
	height: 36px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: 356px 29px;
}
#pg_minilogo2 {
	width: 42px;
	height: 36px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat top left;
	background-position: 356px 65px;
}




#adLeader {
	width: 728px;
	height: 90px;
	background: #666 url(/media/images/adbg.png);
	margin-top: 17px;
	position: absolute;
	margin-right: 0;
	margin-left: 312px;
	z-index: 300;
}

#headernav {
	width: 925px;
	padding: 15px;
	margin: 188px 42px 0;
	background: #1B2023;
	position: absolute;
}


/* BEGIN FOLLOW BOX */
ul#follownav {
	display: inline;
	list-style: none;
}
ul#follownav li {
	width: 54px;
	height: 55px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat;
	background-position: -287px 0;
	padding-top:15px;
	padding-left:15px;
	display: block;
	text-align:left;
	float:left;
	margin-left:8px;
}
ul#follownav li a#facebook {
	width: 48px;
	height: 48px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat;
	background-position: -498px -89px;
	display:block;
	clear:right;
}
ul#follownav li a#twitter {
	width: 48px;
	height: 48px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat;
	background-position: -400px -89px;
	display:block;
}
ul#follownav li a#reddit {
	width: 48px;
	height: 48px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat;
	background-position: -545px -89px;
	display:block;
}
ul#follownav li a#youtube {
	width: 48px;
	height: 48px;
	background: url(/media/images/sprites/pg_sprites_01-main.png) no-repeat;
	background-position: -447px -89px;
	display:block;
}

/* END FOLLOW BOX */





#search {
	display: inline;
	color: #1B2023;
}

#searchbox {
	width: 709px;
	height: 34px;
	line-height: .3em;
	border: 2px solid #CCCCCC;
	font-family: Ack, sans-serif;
	color: #888688;
	font-size: 30px;
	padding-left: 40px;
	background: url(/media/images/iconsearch.png) 8px 8px no-repeat #fff;
}

#content {
	width: 955px;
	margin: 0 auto;
	background: #1B2023;
}

#maincol {
	width: 625px;
	float: left;
}

#videoPlayer {
	margin-left: -15px;
	width: 640px;
	height: 360px;
	background: #D62A27 url(/media/images/playerbg.png) no-repeat center;
}

#featurethumbnails {
	margin-left: 20px;
	width: 640px;
	height: 360px;
}



#videoNowPlaying {
	width: 610;
	height: 45px;
	overflow: hidden;
	background: #94D0A5;
	margin-left: 15px;
	margin-top: 45px;
	color: #fff;
	font-weight: 18px;
}

#videoNowPlayingLabel {
	padding: 10px;
	float: left;
	background: #94D0A5;
	width: 90px;
	font-size: 18px;
	line-height: .9em;
	text-align: right;
	font-weight: bold;
	text-transform: uppercase;
}

#videoNowPlayingTitle {
	width: 480px;
	padding: 10px;
	font-size: 18px;
	line-height: .9em;
	float: left;
	background: #559B7A;
}

.titleMain {
	color: #F4F3B7;
	font-weight: bold;
}

.titleSub {
	font-size: 75%;
}

#videoNowPlayingClear{
	clear: both;
}

#sectionTitle {
	background: #515151;
	padding: 10px;
	float: left;
	/*background: #94D0A5;*/
	width: 90px;
	font-size: 18px;
	line-height: .9em;
	text-align: right;
	font-weight: bold;
	text-transform: uppercase;
}

.videothumbnail {
	float: left;
	display: inline;
	margin-left: 15px;
	margin-top: 15px;
}

.videothumbnailimage {
	height: 34px;
	width: 110px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 40px;
	vertical-align: baseline;
	overflow: none;
	background: #1B2023;
}

.videothumbnailtitle {
	font-weight: bold;
	color: #fff;
	font-size: 14px;
}

.videothumbnailtype {
	margin-top: 4px;
	font-size: 12px;
}

#sidecol {
	width: 300px;
	float: left;
	margin-left: 15px;
}

#adBox {
	width: 300px;
	height: 250px;
	background: #666 url(/media/images/adbg.png);
}

#feedTop {
	width: 330px;
	background: url(/media/images/cornerright.svg) no-repeat right;
	height: 15px;
	margin-right: -15px;
}

#feed {
	margin-right: -15px;
	margin-bottom: -15px;
	background: #559B7A;
	width: 330px;
	height: 315px;
}

#feedHeader {
	background: #94D0A5 url(/media/images/iconPGgreen.svg) 5px 5px no-repeat;
	color: #fff;
	text-transform: uppercase;
	height: 15px;
	overflow: hidden;
	padding: 10px 10px 10px 55px;
	font-weight: bold;
	font-size: 18px;
}

#feedBody {
	height: 315px;
	overflow: hidden;
	position: relative;
}

#feedBody li {
	width:305px;
	font-size: 14px;
	/*border-bottom: 1px solid #94D0A5;*/
	color: #515151;
	padding: 3px 0px 0px 0px;
	height: 90px;
	overflow: visible;
	vertical-align: middle;
	margin-bottom: 5px;
}

#contentclear {
	clear: both;
}

#connect {
	width: 955px;
	height: 60px;
	margin: 0 auto;
	background: url(/media/images/connect.svg);
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
}

#footer {
	width: 955px;
	margin: 0 auto 30px auto;
	min-height: 310px;
	background: url(/media/images/footerbg.png) no-repeat #1B2023 bottom right;
}

#footerHeader {
	background: #4C4C4F url(/media/images/iconPGblack.svg) 5px 5px no-repeat;
	color: #fff;
	text-transform: uppercase;
	height: 15px;
	overflow: hidden;
	padding: 10px 10px 10px 55px;
	font-weight: bold;
	font-size: 18px;
}

.comment-block{
    margin-left: 15px;
    padding: 15px;
    background: #91d798;
    margin-bottom: 15px;
}


.comment-body{
/*    background: #f3f7a6;*/
    padding: 5px;
    padding-top: 0;
    margin-top: 0;
    font-family: helvetica;
    font-size: .8em;
    width: 400px;
}

.comment-name{
    color: #529f73;
    font-weight: bold;
    font-size: 1.2em;
}

.comment-when{
    color: #847f81;
}

.post-comment, .post-reply{
    display: inline-block;
    color: #fff;
    background: #d82324;
    padding: 7px;
    padding-bottom: 0;
    text-decoration: none;
    font-weight: bold;
}

.post-comment{
    margin-top: -15px;
    margin-right: -15px;
    float: right;
}

.post-reply{
    font-size: .8em;
}

.comment-input{
    display: inline-block;
    padding: 5px;
    border: solid #c0c0c0 2px;
    vertical-align: middle;
}

#comment-form, #comment-form2{
    padding: 15px;
    margin-bottom: 20px;
    background: #f3f7a6;
}

.cred-form label{
    vertical-align: middle;
    display: inline-block;
    width: 100px;
}

.field-row{
    display: inline-block;
    margin: 2px;
}

#errors{
    background: red;
    color: #fff;
    padding: 5px;
    display: none;
    margin-bottom: 10px;
}
/* END */
