{% extends "base_video_detail.html" %}
{% load threadedcommentstags %}
{% load gravatar %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% block pagetitle %}Pop Galaxy : {{ video.title|striptags }} {% endblock %}

{% block adblock %}
	{% include "inc/adbox_video_top.html" %}
{% endblock %}

{% block content %}
<!--BEGIN MAIN COLUMN CONTENT-->
<div id="maincol">
<div class="boxTopCornerLeft"></div>
<div id="pagecontent">
<div id="blogTopBar" class="colorBackgroundHeader">{{ video.pub_date|date:"m/d/Y" }}

<div id="shareBar" style="display:none;">
<ul>
<li><div id="fb"><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=165396726857534&amp;xfbml=1"></script><fb:like href="" send="false" layout="button_count" width="80" show_faces="false" font="arial"></fb:like></div></li>
<li><a href="http://" class="shareIcon shareTW"><span>Twitter</span></a></li>
<li><a href="http://" class="shareIcon shareDG"><span>Digg</span></a></li>
<li><a href="http://" class="shareIcon shareRD"><span>Reddit</span></a></li>
<li><a href="http://" class="shareIcon shareSU"><span>StumbleUpon</span></a></li>
</ul>
</div>

</div>


<div id="videoPlayer">{{ video.url_home|safe }}</div>
<div id="videoDetails">

	<div id="titleArea"><h3>{{ video.pub_date|date:"m/d/Y" }}</h3>
	<h1>{{ video.title|striptags }}</h1>
	<h2>{{ video.subtitle|striptags }}</h2></div>

	{{ video.details|safe }}
	duration: [{{ video.duration }}]

    {% if related_videos %}
    <p>
        <strong>Related Videos</strong><br/>
        {% for item in related_videos %}
        <a href="{{ item.get_absolute_url }}">{{ item.title }}</a><br/>
        {% endfor %}
    </p>
    {% endif %}

    {% if related_blogs %}
    <p>
        <strong>Related Blogs</strong><br/>
        {% for blog in related_blogs %}
        <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a><br/>
        {% endfor %}
    </p>
    {% endif %}

    {% if related_links %}
    <p>
        <strong>Related</strong><br/>
        {% for link in related_links %}
        <a href="{{ link.url }}">{{ link.linkname }}</a><br/>
        {% endfor %}
    </p>
    {% endif %}

	<div id="entryShare">
		<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<div class="fb-like" data-send="false" data-width="450" data-show-faces="false" data-font="arial" style="display:block;"></div>
	</div>

</div>



{% get_comment_count for video as comment_count %}
<div class="comment-block colorHeader">


    {% if user.is_authenticated %}
    <a href="javascript:$('comment-form').show(); $('.post-comment').hide();" onclick="$('#comment-form').show(); $('.post-comment').hide(); return false;" class="post-comment">+ POST</a>
    <div id="comment-form" style="display: none;">

<form method="POST" action="{% get_comment_url video %}"> 
    <textarea id="comment" name="comment" class="comment-input"></textarea>

    {% csrf_token %}
    <input type="hidden" name="markup" value="5" />
    <br />
    <input type="submit" value="Post Comment" class="buttons"/>
</form>
    </div>
    {% else %}
    <div>
        <div id="comment-form">
            {% include 'account/login.html' %}
        </div>
        <div id="comment-form2" style="display: none;">
<form method="POST" action="{% get_comment_url video %}"> 
    <textarea id="comment" name="comment" class="comment-input" style="width: 90%; margin-bottom: 5px;"></textarea>

    {% csrf_token %}
    <input type="hidden" name="markup" value="5" />
    <br />
    <input type="submit" value="Post Comment" class="buttons" />
</form>
        </div>
    </div>
    {% endif %}
    <div class="comment-header">COMMENTS <span class="normal color3">({{ comment_count }})</span></div>
    {% get_threaded_comment_tree for video as tree %}
{#    {% get_latest_comments 100 as tree %}#}
    {% for comment in tree %}
        <div class="comment" style="margin-bottom: 10px;">
            <img src="{{ comment.user|gravatar }}" class="comment-avatar"/>
            <div class="comment-text">
                <span class="comment-name">{{ comment.user.get_full_name }}</span>
                <span class="comment-when color3">{{ comment.date_submitted|timesince }} ago</span>
                <p class="comment-body">
                {{ comment.comment }}
                </p>
{#                <a href="" class="post-reply">REPLY</a>#}
{% comment %}
            {% if user.is_authenticated %}
            <a id="c{{ comment.id }}" href="javascript:show_reply_form('c{{ comment.id }}', '{% get_comment_url video comment %}', '{{ comment.user.username }}')">Reply</a>
            {% endif %}
{% endcomment %}
            </div>
            <div class="clear"></div>
        </div>
    {% endfor %}
            
{% comment %}
    <p>Reply to Original:</p>
    <form method="POST" action="{% get_comment_url video %}">
            {% get_threaded_comment_form as form %}
            {% for field in form %}
                {% if field.label == 'Markup' %}
                    {{ field }}
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            
            {% csrf_token %}
            <input type="submit" value="Submit Comment" />
    </form>
{% endcomment %}

{% comment %}
<script type="text/javascript">
function show_reply_form(comment_id, url, person_name) {
    var comment_reply = $('#' + comment_id);
    var to_add = $( new Array(
    '<div class="response"><p>Reply to ' + person_name + ':</p>',
    '<form method="POST" action="' + url + '">',
    '<ul>',  '{{ form.as_ul|oneline }}',
    '<li><input type="submit" value="Submit Comment" /></li>',
    '</ul>', '</form>', '</div>').join(''));
    to_add.css("display", "none");
    comment_reply.after(to_add);
    to_add.slideDown(function() {
        comment_reply.replaceWith(new Array('<a id="',
        comment_id,'" href="javascript:hide_reply_form(\'',
        comment_id, '\',\'', url, '\',\'', person_name,
        '\')">Stop Replying</a>').join(''));
    });
}
function hide_reply_form(comment_id, url, person_name) {
    var comment_reply = $('#' + comment_id);
    comment_reply.next().slideUp(function (){
        comment_reply.next('.response').remove();
        comment_reply.replaceWith(new Array('<a id="',
        comment_id,'" href="javascript:show_reply_form(\'',
        comment_id, '\',\'', url, '\',\'', person_name,
        '\')">Reply</a>').join(''));
    });
}
</script>
{% endcomment %}

</div>

</div>

{% endblock %}


{% block sideadblock %}
	{% include "inc/adbox_video_sidebar.html" %}
{% endblock %}

