<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<script charset="utf-8" src="{{ MEDIA_URL }}svgweb/svg.js" data-path="svgweb" type="text/javascript"></script> 
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script> 
	<script charset="utf-8" src="{{ MEDIA_URL }}js/jquery.cycle.all.2.72.js" type="text/javascript"></script> 
	<script charset="utf-8" src="{{ MEDIA_URL }}js/jquery.ztwitterfeed.js" type="text/javascript"></script> 
	<script charset="utf-8" src="{{ MEDIA_URL }}js/jquery.vticker-min.js" type="text/javascript"></script>
	<script charset="utf-8" src="{{ MEDIA_URL }}js/jquery.color.js" type="text/javascript"></script> 
	
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<title>{% block pagetitle %}{% endblock %}</title>

<link href='http://fonts.googleapis.com/css?family=Arvo:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ MEDIA_URL }}fonts/stylesheet.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{ MEDIA_URL }}style/style.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="{{ MEDIA_URL }}style/popgalaxyoverride.css" type="text/css" media="screen, projection">
<link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.png" type="image/x-icon">

<link rel="stylesheet" href="{{ MEDIA_URL }}style/{% block stylesheet %}{% endblock %}" type="text/css" media="screen, projection" />


<script type='text/javascript' src='http://partner.googleadservices.com/gampad/google_service.js'></script>
<script type='text/javascript'>
GS_googleAddAdSenseService("ca-pub-0129664810408005");
GS_googleEnableAllServices();
</script>
<script type='text/javascript'>
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-Comics_LDR");
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-Comics_MedRec");
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-Comics_WSKY");
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-Extras_LDR");
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-Extras_MedRec");
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-Extras_WSKY");
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-Film_LDR");
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-Film_MedRec");
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-Film_WSKY");
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-Games-LDR");
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-Games_MedRec");
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-Games_WSKY");
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-HP_LDR");
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-HP_MedRec");
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-HP_WSKY");
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-Interactive_LDR");
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-Interactive_MedRec");
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-Interactive_WSKY");
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-Music_LDR");
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-Music_MedRec");
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-Music_WSKY");
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-TV_LDR");
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-TV_MedRec");
GA_googleAddSlot("ca-pub-0129664810408005", "PopGalaxy-TV_WSKY");
</script>
<script type='text/javascript'>
GA_googleFetchAds();
</script>

{% include "inc/google_analytics.html" %}

</head>
<body>


<div id="container">

<!--BEGIN HEADER-->
<div id="header">
	{% block adblock %}{% endblock %}

<div id="headerlogo"><a href="/"><span>Pop Galaxy</span></a></div>

{% include "inc/headlines.html" %}



</div><!--END HEADER-->





<!--BEGIN PAGE CONTENT-->

<div id="content" class="colorBackground" >

	{% include "inc/nav_2.html" %}


<!--BEGIN SHOW INFO BAR-->
<div class="boxTopCornerLeft"></div>
<div id="showbox">

    <div id="showinfo">
        {% if related_videos %}{{ related_videos.count }} episode{% if not related_videos.count = 1 %}s{% endif %}{% endif %}{% if selected_show.schedule %}, {{ selected_show.schedule }}{% endif %}
    </div>
    <div id="showlogo"></div>
</div>
<!--END SHOW INFO BAR-->


	{% block content %}{% endblock %}
</div><!--END MAIN COLUMN CONTENT-->


<div id="sidecol">
{% block sideadblock %}{% endblock %}
{#{% include "inc/twitter_feed.html" %}#}
{% include "inc/show_follow_box.html" %}
{% include "inc/show_watching_box.html" %}
{% include "inc/dispatch_box.html" %}
</div>

<div id="contentclear"></div>
</div><!--END PAGE CONTENT-->


<script type="text/javascript">
function click_shows(){
	shows_box = $('#shows_box');
	content_div = $('#content');
	if (shows_box.is(':visible')){
		shows_box.fadeOut();
		content_div.animate({marginTop: '0px'});
	} else {
		shows_box.fadeIn();
		content_div.animate({marginTop: '200px'});
	}
	return false;
}

function click_search(){
	
}
</script>


{% include "inc/home_footer.html" %}
