{% extends "base.html" %}
{% load video_tags %}
{% load pagination_tags %}

{% block pagetitle %}Pop Galaxy{% endblock %}

{% block adblock %}
	{% include "inc/adbox_home_top.html" %}
{% endblock %}


{% block content %}

<!--BEGIN MAIN COLUMN CONTENT-->
<div id="maincol">
{# <div id="videoPlayer">{{ featured_video.url_home|safe }}</div> #}
<div id="featurethumbnails">
	{% for item in featured_items %}
	<div {% ifnotequal forloop.counter 1 %}style="display:none;"{% endifnotequal %}>
		<a href="{{ item.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ item.featuredthumb }}" {% if forloop.last %}class="last"{% endif %}/></a>
	</div>
	{% endfor %}

</div>

<div id="videoCarousel">

	<ul id="featuredNav">
		{% for itm in featured_blogs %}
		<li><a href="#"><img src="{{ itm.thumbnail.thumb_url }}"/></a></li>
		{% endfor %}
        {% for itm in featured_videos %}
		<li><a href="#"><img src="{{ itm.thumbnail.thumb_url }}"/></a></li>
		{% endfor %}
	</ul>

</div>

<div>
	{% include "inc/adbox_home_left_sidebar.html" %}

	<div id="newsItems" >
		{% autopaginate latest_items 5 %}
		{% for item in latest_items %}
			<div class="newsItem" >
					<div class="newsItemLeft">
					<div class="categoryBadge">
					{% if category %}
					{{ category }}
					{% else %}
					{{ item|get_tag }}
					{% endif %}
					</div>
					<a href="{{ item.get_absolute_url }}">
					<img src="{{ item.thumbnail.thumb_url }}" class="newsItemThumb" border="0" />
					</a>
					</div>						
					<div class="newsItemText" >
					<div class="newsItemDate">posted {{ item.pub_date|date:"m.d.Y" }}</div>
					<div class="newsHeader colorHeaderText"><a href="{{ item.get_absolute_url }}" >{{ item.title|safe|truncatewords_html:10|wordwrap:10 }}</a>
					</div>
						{% if item.details %}
						{{ item.details|safe|truncatewords_html:25 }}
						{% else %}
						{{ item.body_html|safe|truncatewords_html:25 }}
						{% endif %}
					</div>
				<div class="clear"></div>
			</div>
			
		{% endfor %}
	{% paginate %}
	</div>
</div>

{% endblock %}


{% block sideadblock %}
	{% include "inc/adbox_home_sidebar.html" %}
{% endblock %}


