<div id="adBox">
<!-- BEGIN GN Ad Tag for Pop Galaxy 300x250 ros -->
<!--
<script type="text/javascript">
  if(typeof(gnm_ord)=='undefined') gnm_ord=Math.random()*10000000000000000; if(typeof(gnm_tile) == 'undefined') gnm_tile=1;
  document.write('<scr'+'ipt src="http://n4403ad.doubleclick.net/adj/gn.popgalaxy.com/ros;sect=ros;sz=300x250;tile='+(gnm_tile++)+';ord='+gnm_ord+'?" type="text/javascript"></scr'+'ipt>');
</script>
-->
<!-- END AD TAG -->

    {% if not category %}

        <!-- PopGalaxy-HP_MedRec -->
        <script type='text/javascript'>
            GA_googleFillSlot("PopGalaxy-HP_MedRec");
        </script>

    {% endif %}

    {% if category == 'comics' %}

        <!-- PopGalaxy-Comics_MedRec -->
        <script type='text/javascript'>
            GA_googleFillSlot("PopGalaxy-Comics_MedRec");
        </script>

    {% endif %}

    {% if category == 'extras' %}

        <!-- PopGalaxy-Extras_MedRec -->
        <script type='text/javascript'>
            GA_googleFillSlot("PopGalaxy-Extras_MedRec");
        </script>

    {% endif %}

    {% if category == 'film' %}

        <!-- PopGalaxy-Film_MedRec -->
        <script type='text/javascript'>
            GA_googleFillSlot("PopGalaxy-Film_MedRec");
        </script>

    {% endif %}

    {% if category == 'games' %}

        <!-- PopGalaxy-Games_MedRec -->
        <script type='text/javascript'>
            GA_googleFillSlot("PopGalaxy-Games_MedRec");
        </script>

    {% endif %}

    {% if category == 'interactive' %}

        <!-- PopGalaxy-Interactive_MedRec -->
        <script type='text/javascript'>
            GA_googleFillSlot("PopGalaxy-Interactive_MedRec");
        </script>

    {% endif %}

    {% if category == 'music' %}

        <!-- PopGalaxy-Music_MedRec -->
        <script type='text/javascript'>
            GA_googleFillSlot("PopGalaxy-Music_MedRec");
        </script>

    {% endif %}

    {% if category == 'tv' %}

        <!-- PopGalaxy-TV_MedRec -->
        <script type='text/javascript'>
            GA_googleFillSlot("PopGalaxy-TV_MedRec");
        </script>

    {% endif %}

</div>
