<div id="adLeader" style="width: 728px; height: 90px;">
<!-- BEGIN GN Ad Tag for Pop Galaxy 728x90 home -->
<!--<script type="text/javascript">
  if(typeof(gnm_ord)=='undefined') gnm_ord=Math.random()*10000000000000000; if(typeof(gnm_tile) == 'undefined') gnm_tile=1;
  document.write('<scr'+'ipt src="http://n4403ad.doubleclick.net/adj/gn.popgalaxy.com/home;sect=home;sz=728x90;dcopt=ist;type=pop;type=int;tile='+(gnm_tile++)+';ord='+gnm_ord+'?" type="text/javascript"></scr'+'ipt>');
</script>-->
<!-- END AD TAG -->

    {% if not category %}

        <!-- PopGalaxy-HP_LDR -->
        <script type='text/javascript'>
            GA_googleFillSlot("PopGalaxy-HP_LDR");
        </script>

    {% endif %}

    {% if category == 'comics' %}

        <!-- PopGalaxy-Comics_LDR -->
        <script type='text/javascript'>
            GA_googleFillSlot("PopGalaxy-Comics_LDR");
        </script>

    {% endif %}

    {% if category == 'extras' %}

        <!-- PopGalaxy-Extras_LDR -->
        <script type='text/javascript'>
            GA_googleFillSlot("PopGalaxy-Extras_LDR");
        </script>

    {% endif %}

    {% if category == 'film' %}

        <!-- PopGalaxy-Film_LDR -->
        <script type='text/javascript'>
            GA_googleFillSlot("PopGalaxy-Film_LDR");
        </script>

    {% endif %}

    {% if category == 'games' %}

        <!-- PopGalaxy-Games-LDR -->
        <script type='text/javascript'>
            GA_googleFillSlot("PopGalaxy-Games-LDR");
        </script>

    {% endif %}

    {% if category == 'interactive' %}

        <!-- PopGalaxy-Interactive_LDR -->
        <script type='text/javascript'>
            GA_googleFillSlot("PopGalaxy-Interactive_LDR");
        </script>

    {% endif %}

    {% if category == 'music' %}

        <!-- PopGalaxy-Music_LDR -->
        <script type='text/javascript'>
            GA_googleFillSlot("PopGalaxy-Music_LDR");
        </script>

    {% endif %}

    {% if category == 'tv' %}

        <!-- PopGalaxy-TV_LDR -->
        <script type='text/javascript'>
            GA_googleFillSlot("PopGalaxy-TV_LDR");
        </script>

    {% endif %}

</div>
