<div class="boxTop"><div class="boxTopCornerRight"></div></div>
<div class="box colorBackgroundSidebar">
<div class="boxIcon"></div>
<div class="boxHeader colorBackgroundHeader">DISPATCH</div>
<div class="boxBody">

 
 
 <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
 <script>
 new TWTR.Widget({
   version: 2,
   type: 'profile',
   rpp: 3,
   interval: 500,
   width: 'auto',
   height: 300,
   theme: {
     shell: {
       background: '#559b7a',
       color: '#ffffff'
     },
     tweets: {
       background: '#94d0a5',
       color: '#616161',
       links: '#192912'
     }
   },
   features: {
     scrollbar: false,
     loop: true,
     live: true,
     behavior: 'default'
   }
 }).render().setUser('thepopgalaxy').start();
 </script>
 
 
<!--<div class="tweet">
	<ul>


{% for tweet in tweets.pop_timeline %}
<li class="tweetLi"><a href="http://www.twitter.com/{{ tweet.user.screen_name }}" target="_new" class="colorLinkSidebar" >
	<span class="tweetProfileIcon" ><img src="{{ tweet.user.profile_image_url|safe }}" /></span>
	<div class="tweetRight"><span class="tweetScreenName">{{ tweet.user.screen_name }}:</span>
	<span class="tweetText">{{ tweet.text }}</span>
	<span class="tweetDate">{{ tweet.created_at|timesince }} ago</span></div></a>
</li>
{% endfor %}
{% for tweet in tweets.dd_timeline %}
<li class="tweetLi"><a href="http://www.twitter.com/{{ tweet.user.screen_name }}" target="_new" class="colorLinkSidebar" >
	<span class="tweetProfileIcon" ><img src="{{ tweet.user.profile_image_url|safe }}" width="16" height="16" /></span>
	<div class="tweetRight"><span class="tweetScreenName">{{ tweet.user.screen_name }}:</span>
	<span class="tweetText">{{ tweet.text }}</span>
	<span class="tweetDate">{{ tweet.created_at|timesince }} ago</span></div></a>
</li>
{% endfor %}
{% for tweet in tweets.wowio_timeline %}
<li class="tweetLi"><a href="http://www.twitter.com/{{ tweet.user.screen_name }}" target="_new" class="colorLinkSidebar" >
	<span class="tweetProfileIcon" ><img src="{{ tweet.user.profile_image_url|safe }}" width="16" height="16" /></span>
	<div class="tweetRight"><span class="tweetScreenName">{{ tweet.user.screen_name }}:</span>
	<span class="tweetText">{{ tweet.text }}</span>
	<span class="tweetDate">{{ tweet.created_at|timesince }} ago</span></div></a>
</li>
{% endfor %}
{% for tweet in tweets.wv_timeline %}
<li class="tweetLi"><a href="http://www.twitter.com/{{ tweet.user.screen_name }}" target="_new" class="colorLinkSidebar" >
	<span class="tweetProfileIcon" ><img src="{{ tweet.user.profile_image_url|safe }}" width="16" height="16" /></span>
	<div class="tweetRight"><span class="tweetScreenName">{{ tweet.user.screen_name }}:</span>
	<span class="tweetText">{{ tweet.text }}</span>
	<span class="tweetDate">{{ tweet.created_at|timesince }} ago</span></div></a>
</li>
{% endfor %}
	</ul>
</div>-->

<!-- 
{% for tweet in tweets %}
<div class="tweet"><a href="http://www.twitter.com/{{ tweet.user.screen_name }}" target="_new">@{{ tweet.user.screen_name }}</a><br/>{{ tweet.text }}<br/>{{ tweet.created_at }}<br/><br/></div>
{% endfor %}
-->

</div>
</div>
