<div class="boxTop"><div class="boxTopCornerRight"></div></div>
<div class="box" style="height: 125px;">
<div class="boxIcon"></div>
<div class="boxHeader colorHeader">FOLLOW</div>
<div class="boxBody">

	<ul id="follownav">
		<li><a href="http://www.facebook.com/popgalaxy" target="_blank" id="facebook"></a></li>
		<li><a href="http://www.twitter.com/thepopgalaxy" target="_blank" id="twitter"></a></li>
		<li><a href="http://www.reddit.com/popgalaxy" target="_blank" id="reddit"></a></li>
		<li><a href="http://www.youtube.com/popgalaxy" target="_blank" id="youtube"></a></li>
	</ul>
</div>
</div>
