<div id="studiowFooterNav">
<ul>
<li><a id="swfWow" href="http://wowio.com">WOWIO, Inc.</a></li>
<li><a id="swfDuc" href="http://drunkduck.com">DrunkDuck</a></li>
<li><a id="swfPop" href="http://popgalaxy.com">POP Galaxy</a></li>
<li><a id="swfSdg" href="http://wowio.com/spacedog">Spacedog</a></li>
<li><a id="swfStu" href="http://studiowdigital.com">Studio W</a></li>
</ul>
</div>

<div id="copyright">&copy;2010-2011 WOWIO, Inc. WOWIO, WEvolt, DrunkDuck, Pop Galaxy, and their associated logos are trademarks of WOWIO, Inc.  All Rights Reserved.</div>