<div id="studiowFooterNav">
<ul>
<li><a id="swfWow" href="http://wowio.com" target="_blank">WOWIO, Inc.</a></li>
<li><a id="swfDuc" href="http://drunkduck.com" target="_blank">DrunkDuck</a></li>
<li><a id="swfPop" href="http://popgalaxy.com">POP Galaxy</a></li>
<li><a id="swfSdg" href="http://wowio.com/spacedog" target="_blank">Spacedog</a></li>
<li><a id="swfStu" href="http://studiowdigital.com" target="_blank">Studio W</a></li>
</ul>
</div>

<div id="copyright"><a href="/privacy/">Privacy Policy</a>&nbsp; | &nbsp; &copy;2010-2011 WOWIO, Inc. WOWIO, WEvolt, DrunkDuck, Pop Galaxy, and their associated logos are trademarks of WOWIO, Inc.  All Rights Reserved.</div>