<script type="text/javascript">

$(document).ready(function(){

        $(".slidingDiv").hide();
        $(".show_hide").show();

	$('.show_hide').click(function(){
	$(".slidingDiv").slideToggle();
	});

});

</script>

<script type="text/javascript">

$(document).ready(function(){

        $(".slidingDiv2").hide();
        $(".show_hide2").show();

	$('.show_hide2').click(function(){
	$(".slidingDiv2").slideToggle();
	});

});

</script>


<div id="navBar" class="navShow colorBackgroundHeader">
<ul>
	<li><a id="shows" class="show_hide">Shows</a></li>
	<li><a href="/comics/" id="comics">Comics</a></li>
	<li><a href="/music/" id="music">Music</a></li>
	<li><a href="/games/" id="games">Games</a></li>
	<li><a href="/film/" id="film">Film</a></li>
	<li><a href="/tv/" id="tv">TV</a></li>
	<li><a href="/interactive/" id="interactive">Interactive</a></li>
	<li><a href="/extras/" id="extra">Extra</a></li>
	<li><a id="search" class="show_hide2" style="visibility: hidden;">Search</a></li>
</ul>
</div>
<div id="showsBox" class="slidingDiv" >
	{% for show in shows %}
	<div class="showMenuItem">
	

	
		{% if show.thumbnail %}
		<div>
			<a href="{{ show.get_absolute_url }}" class="linkShowThumb"><img src="{{ show.thumbnail.thumb_url }}"></a>
		</div>
		{% endif %}
		<!-- <div class="showMenuCategory colorHeader">Category</div> -->
		<h1><a href="{{ show.get_absolute_url }}">{{ show.title }}</a></h1>
		<p>{{ show.relatedvideos.count }} episode{% if show.relatedvideos.count != 1 %}s{% endif %}</p>
	</div>	
	{% endfor %}
		
</div>
<div id="searchBox" class="slidingDiv2">
<form method="post" action=""><input type="text" name="" value="Search the POP Galaxy" /></form>
</div>