<div class="boxTop"><div class="boxTopCornerRight"></div></div>
<div class="box">
<div class="boxIcon"></div>
<div class="boxHeader colorHeader">MORE {{ selected_show.title }}</div>
<div class="boxBody">


<div class="seemore">
	<ul>
        {% for video in sidebar_videos %}
        <li><a href="{{ video.get_absolute_url }}" >
	        <span class="seemoreThumb" ><img src="{{ video.thumbnail.thumb_url }}" border="0"/></span>
	        <span class="seemoreTitle">{{ video.title }}</span><br/>
            <span class="seemoreSubTitle">{{ video.subtitle }}</span><br/>
	        <span class="seemoreCount">0 views</span>
	        </a>
        </li>
        {% endfor %}
	</ul>
</div>


</div>
</div>
