<div class="boxTop"><div class="boxTopCornerRight"></div></div>
<div class="box colorBackgroundSidebar">
<div class="boxIcon"></div>
<div class="boxHeader colorBackgroundHeader">MORE {{ selected_show.title }}</div>
<div class="boxBody ">


<div class="seeMore">
	<ul>
        {% for video in sidebar_videos %}
        <li><a href="{{ video.get_absolute_url }}"  class="colorLinkSidebar" >
	        <span class="seeMoreThumb" ><img src="{{ video.thumbnail.thumb_url }}" border="0"/></span>
	        <span class="seeMoreTitle">{{ video.title }}</span><br/>
            <span class="seeMoreSubTitle">{{ video.subtitle }}</span><br/>
	        <!-- <span class="seeMoreCount">0 views</span> -->
	        </a>
        </li>
        {% endfor %}
	</ul>
</div>


</div>
</div>
