<div class="boxTop"><div class="boxTopCornerRight"></div></div>
<div class="box colorBackgroundSidebar">
<div class="boxIcon"></div>
<div class="boxHeader colorBackgroundHeader">WATCHING</div>
<!-- <div class="boxNav">
<ul>
<li><a class="selected" onclick="return switch_menu('weekly');">Week</a></li>
<li><a onclick="return switch_menu('monthly');">Month</a></li>
<li><a onclick="return switch_menu('alltime');">All-Time</a></li>
</ul>
</div> -->
<div class="boxBody colorBackgroundSidebar">


    <div class="seeMore">
	    <ul>
            {% for video in latest_videos %}
            <li><a href="{{ video.get_absolute_url }}" class="colorLinkSidebar" >
	            <span class="seeMoreThumb" ><img src="{{ video.thumbnail.thumb_url }}" border="0"/></span>
	            <span class="seeMoreTitle">{{ video.title }}</span><br/>
                <span class="seeMoreSubTitle">{{ video.subtitle }}</span><br/>
	            <!-- <span class="seeMoreCount">0 views</span> -->
	            </a>
            </li>
            {% endfor %}
	    </ul>
    </div>

    <div class="seeMore_monthly" style="display:none;" class="colorLinkSidebar">
        <ul>
            {% for video in latest_videos %}
            <li><a href="{{ video.get_absolute_url }}" >
                <span class="seeMoreThumb" ><img src="{{ video.thumbnail.thumb_url }}" border="0"/></span>
                <span class="seeMoreTitle">{{ video.title }}</span><br/>
                <span class="seeMoreSubTitle">{{ video.subtitle }}</span><br/>
                <!-- <span class="seeMoreCount">0 views</span> -->
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="seeMore_alltime" style="display:none;" class="colorLinkSidebar">
        <ul>
            {% for video in latest_videos %}
            <li><a href="{{ video.get_absolute_url }}" >
                <span class="seeMoreThumb" ><img src="{{ video.thumbnail.thumb_url }}" border="0"/></span>
                <span class="seeMoreTitle">{{ video.title }}</span><br/>
                <span class="seeMoreSubTitle">{{ video.subtitle }}</span><br/>
                <!-- <span class="seeMoreCount">0 views</span> -->
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>


</div>
</div>

